<!doctype html>
<html class="no-js" lang="ru">

<head>
    {{> head/head head.defaults}}
</head>

<body class="page">
%=symbols=%

<ul>
    <li><a href="main.html">Главная</a></li>

    <li><a href="rector.html">Страница ректора</a></li>

    <li><a href="institute-teachers.html">24 Кафедра (профессорско-преподавательский состав)</a></li>

    <li><a href="institute-about.html">23 Кафедра (описание)</a></li>

    <li><a href="institutions.html">21 Институты (плитка институтов)</a> (нету карты)</li>

    <li><a href="institute-main.html">22 Институт (главная)</a>   50%</li>

    <li><a href="partners.html">17 Партнеры</a></li>
</ul>


<script src="%=static=%js/separate-js/svg4everybody.min.js"></script>
<script>svg4everybody();</script>

<!-- Main scripts. You can replace it, but I recommend you to leave it here     -->
<script src="%=static=%js/main%=hash=%%=min=%.js"></script>
</body>

</html>
