// Common styles of the project

html, body {
    height: 100%;
    font-family: $font-MyriadPro;
}

.container {
    @media screen and (min-width: 1200px) {
        max-width: 1170px;
    }
}

.page {
    &__title {
        margin-bottom: 24px;

        h1 {
            @extend %h2;
            color: $blue-color;
            margin-bottom: 0;
        }

        h2 {
            @extend %h2;
            color: $blue-color;
            margin-bottom: 0;
        }
    }
}

.title-block {
    margin-bottom: 30px;

    h2 {
        @extend %h2;
        color: $blue-color;
    }
}

.button {
    display: table;
    text-decoration: none;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
    transition: all 0.25s;

    &:hover {
        text-decoration: none;
    }

    &:focus, &:active {
        outline: none;
        box-shadow: none;
    }
}

.btn-blue {
    background: $white-color;
    box-sizing: border-box;
    border-radius: 8px;
    height: 48px;
    padding: 15px 35px;
    font-size: 14px;
    line-height: 16px;
    color: $blue-color;
    border: 1px solid rgba(35, 56, 129, 0.7);
    font-weight: 600;

    &:hover, &:focus, &:active {
        color: $white-color;
        background: $blue-hover;
        border: 1px solid rgba(35, 56, 129, 0.7);
    }
}

.btn-white {
    background: $white-color;
    border: 1px solid rgba(35, 56, 129, 0.7);
    box-sizing: border-box;
    border-radius: 8px;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: $blue-color2;
    text-transform: uppercase;
    height: 48px;
    padding: 14px 40px;

    &:hover {
        color: $white-color;
        background: $blue-hover;
        border: 1px solid rgba(35, 56, 129, 0.7);
    }
}

.swiper-button-prev, .swiper-button-next {
    width: 16px !important;
    height: 26px !important;
    cursor: pointer;

    &:after {
        display: none;
    }

    &:focus, &:active {
        outline: none;
        box-shadow: none;
    }
}

.swiper-button-prev {
    @include bg-svg($slider-prev);
    &:hover {
        @include bg-svg($slider-prev-hover);
    }
}

.swiper-button-next {
    @include bg-svg($slider-next);
    &:hover {
        @include bg-svg($slider-next-hover);
    }
}

.swiper-pagination {
    &-bullets {
        display: flex;
        align-items: center;
    }

    &-bullet {
        width: 16px !important;
        height: 16px !important;
        border-radius: 50%;
        flex-shrink: 0;
        margin-right: 13px;
        opacity: 1 !important;
        background-color: $white-color !important;
        border: 2px solid $blue-color2 !important;
        box-sizing: border-box;

        &:last-child {
            margin-right: 0;
        }

        &:focus, &:active {
            outline: none;
            box-shadow: none;
        }
    }

    &-bullet-active {
        background-color: $blue-color !important;
    }
}
