@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-BoldCondIt.eot');
    src: local('Myriad Pro Bold Condensed Italic'), local('MyriadPro-BoldCondIt'),
    url('../fonts/MyriadPro-BoldCondIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-BoldCondIt.woff') format('woff'),
    url('../fonts/MyriadPro-BoldCondIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-BlackIt.eot');
    src: local('Myriad Pro Black Italic'), local('MyriadPro-BlackIt'),
    url('../fonts/MyriadPro-BlackIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-BlackIt.woff') format('woff'),
    url('../fonts/MyriadPro-BlackIt.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-LightIt.eot');
    src: local('Myriad Pro Light Italic'), local('MyriadPro-LightIt'),
    url('../fonts/MyriadPro-LightIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-LightIt.woff') format('woff'),
    url('../fonts/MyriadPro-LightIt.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-BlackCond.eot');
    src: local('Myriad Pro Black Condensed'), local('MyriadPro-BlackCond'),
    url('../fonts/MyriadPro-BlackCond.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-BlackCond.woff') format('woff'),
    url('../fonts/MyriadPro-BlackCond.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Cond.eot');
    src: local('Myriad Pro Condensed'), local('MyriadPro-Cond'),
    url('../fonts/MyriadPro-Cond.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-Cond.woff') format('woff'),
    url('../fonts/MyriadPro-Cond.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Bold.eot');
    src: local('Myriad Pro Bold'), local('MyriadPro-Bold'),
    url('../fonts/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-Bold.woff') format('woff'),
    url('../fonts/MyriadPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-BoldIt.eot');
    src: local('Myriad Pro Bold Italic'), local('MyriadPro-BoldIt'),
    url('../fonts/MyriadPro-BoldIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-BoldIt.woff') format('woff'),
    url('../fonts/MyriadPro-BoldIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-BoldSemiCnIt.eot');
    src: local('Myriad Pro Bold SemiCondensed Italic'), local('MyriadPro-BoldSemiCnIt'),
    url('../fonts/MyriadPro-BoldSemiCnIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-BoldSemiCnIt.woff') format('woff'),
    url('../fonts/MyriadPro-BoldSemiCnIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-CondIt.eot');
    src: local('Myriad Pro Condensed Italic'), local('MyriadPro-CondIt'),
    url('../fonts/MyriadPro-CondIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-CondIt.woff') format('woff'),
    url('../fonts/MyriadPro-CondIt.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-LightCond.eot');
    src: local('Myriad Pro Light Condensed'), local('MyriadPro-LightCond'),
    url('../fonts/MyriadPro-LightCond.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-LightCond.woff') format('woff'),
    url('../fonts/MyriadPro-LightCond.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-SemiCn.eot');
    src: local('Myriad Pro SemiCondensed'), local('MyriadPro-SemiCn'),
    url('../fonts/MyriadPro-SemiCn.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-SemiCn.woff') format('woff'),
    url('../fonts/MyriadPro-SemiCn.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-SemiCnIt.eot');
    src: local('Myriad Pro SemiCondensed Italic'), local('MyriadPro-SemiCnIt'),
    url('../fonts/MyriadPro-SemiCnIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-SemiCnIt.woff') format('woff'),
    url('../fonts/MyriadPro-SemiCnIt.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-BoldCond.eot');
    src: local('Myriad Pro Bold Condensed'), local('MyriadPro-BoldCond'),
    url('../fonts/MyriadPro-BoldCond.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-BoldCond.woff') format('woff'),
    url('../fonts/MyriadPro-BoldCond.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-LightSemiExtIt.eot');
    src: local('Myriad Pro Light SemiExtended Italic'), local('MyriadPro-LightSemiExtIt'),
    url('../fonts/MyriadPro-LightSemiExtIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-LightSemiExtIt.woff') format('woff'),
    url('../fonts/MyriadPro-LightSemiExtIt.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Semibold.eot');
    src: local('Myriad Pro Semibold'), local('MyriadPro-Semibold'),
    url('../fonts/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-Semibold.woff') format('woff'),
    url('../fonts/MyriadPro-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Black.eot');
    src: local('Myriad Pro Black'), local('MyriadPro-Black'),
    url('../fonts/MyriadPro-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-Black.woff') format('woff'),
    url('../fonts/MyriadPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Regular.eot');
    src: local('Myriad Pro Regular'), local('MyriadPro-Regular'),
    url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-Regular.woff') format('woff'),
    url('../fonts/MyriadPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-LightSemiCn.eot');
    src: local('Myriad Pro Light SemiCondensed'), local('MyriadPro-LightSemiCn'),
    url('../fonts/MyriadPro-LightSemiCn.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-LightSemiCn.woff') format('woff'),
    url('../fonts/MyriadPro-LightSemiCn.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-BlackCondIt.eot');
    src: local('Myriad Pro Black Condensed Italic'), local('MyriadPro-BlackCondIt'),
    url('../fonts/MyriadPro-BlackCondIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-BlackCondIt.woff') format('woff'),
    url('../fonts/MyriadPro-BlackCondIt.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-LightCondIt.eot');
    src: local('Myriad Pro Light Condensed Italic'), local('MyriadPro-LightCondIt'),
    url('../fonts/MyriadPro-LightCondIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-LightCondIt.woff') format('woff'),
    url('../fonts/MyriadPro-LightCondIt.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-LightSemiExt.eot');
    src: local('Myriad Pro Light SemiExtended'), local('MyriadPro-LightSemiExt'),
    url('../fonts/MyriadPro-LightSemiExt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-LightSemiExt.woff') format('woff'),
    url('../fonts/MyriadPro-LightSemiExt.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-BlackSemiCnIt.eot');
    src: local('Myriad Pro Black SemiCondensed Italic'), local('MyriadPro-BlackSemiCnIt'),
    url('../fonts/MyriadPro-BlackSemiCnIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-BlackSemiCnIt.woff') format('woff'),
    url('../fonts/MyriadPro-BlackSemiCnIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-SemiboldCondIt.eot');
    src: local('Myriad Pro Semibold Condensed Italic'), local('MyriadPro-SemiboldCondIt'),
    url('../fonts/MyriadPro-SemiboldCondIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-SemiboldCondIt.woff') format('woff'),
    url('../fonts/MyriadPro-SemiboldCondIt.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-SemiboldCond.eot');
    src: local('Myriad Pro Semibold Condensed'), local('MyriadPro-SemiboldCond'),
    url('../fonts/MyriadPro-SemiboldCond.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-SemiboldCond.woff') format('woff'),
    url('../fonts/MyriadPro-SemiboldCond.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-BoldSemiExtIt.eot');
    src: local('Myriad Pro Bold SemiExtended Italic'), local('MyriadPro-BoldSemiExtIt'),
    url('../fonts/MyriadPro-BoldSemiExtIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-BoldSemiExtIt.woff') format('woff'),
    url('../fonts/MyriadPro-BoldSemiExtIt.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-SemiboldSemiCn.eot');
    src: local('Myriad Pro Semibold SemiCondensed'), local('MyriadPro-SemiboldSemiCn'),
    url('../fonts/MyriadPro-SemiboldSemiCn.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-SemiboldSemiCn.woff') format('woff'),
    url('../fonts/MyriadPro-SemiboldSemiCn.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-BlackSemiExtIt.eot');
    src: local('Myriad Pro Black SemiExtended Italic'), local('MyriadPro-BlackSemiExtIt'),
    url('../fonts/MyriadPro-BlackSemiExtIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-BlackSemiExtIt.woff') format('woff'),
    url('../fonts/MyriadPro-BlackSemiExtIt.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-SemiboldSemiExtIt.eot');
    src: local('Myriad Pro Semibold SemiExtended Italic'), local('MyriadPro-SemiboldSemiExtIt'),
    url('../fonts/MyriadPro-SemiboldSemiExtIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-SemiboldSemiExtIt.woff') format('woff'),
    url('../fonts/MyriadPro-SemiboldSemiExtIt.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-LightSemiCnIt.eot');
    src: local('Myriad Pro Light SemiCondensed Italic'), local('MyriadPro-LightSemiCnIt'),
    url('../fonts/MyriadPro-LightSemiCnIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-LightSemiCnIt.woff') format('woff'),
    url('../fonts/MyriadPro-LightSemiCnIt.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-BoldSemiCn.eot');
    src: local('Myriad Pro Bold SemiCondensed'), local('MyriadPro-BoldSemiCn'),
    url('../fonts/MyriadPro-BoldSemiCn.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-BoldSemiCn.woff') format('woff'),
    url('../fonts/MyriadPro-BoldSemiCn.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-SemiboldSemiCnIt.eot');
    src: local('Myriad Pro Semibold SemiCondensed Italic'), local('MyriadPro-SemiboldSemiCnIt'),
    url('../fonts/MyriadPro-SemiboldSemiCnIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-SemiboldSemiCnIt.woff') format('woff'),
    url('../fonts/MyriadPro-SemiboldSemiCnIt.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-SemiboldIt.eot');
    src: local('Myriad Pro Semibold Italic'), local('MyriadPro-SemiboldIt'),
    url('../fonts/MyriadPro-SemiboldIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-SemiboldIt.woff') format('woff'),
    url('../fonts/MyriadPro-SemiboldIt.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-It.eot');
    src: local('Myriad Pro Italic'), local('MyriadPro-It'),
    url('../fonts/MyriadPro-It.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-It.woff') format('woff'),
    url('../fonts/MyriadPro-It.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-BoldSemiExt.eot');
    src: local('Myriad Pro Bold SemiExtended'), local('MyriadPro-BoldSemiExt'),
    url('../fonts/MyriadPro-BoldSemiExt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-BoldSemiExt.woff') format('woff'),
    url('../fonts/MyriadPro-BoldSemiExt.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Light.eot');
    src: local('Myriad Pro Light'), local('MyriadPro-Light'),
    url('../fonts/MyriadPro-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-Light.woff') format('woff'),
    url('../fonts/MyriadPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-SemiboldSemiExt.eot');
    src: local('Myriad Pro Semibold SemiExtended'), local('MyriadPro-SemiboldSemiExt'),
    url('../fonts/MyriadPro-SemiboldSemiExt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-SemiboldSemiExt.woff') format('woff'),
    url('../fonts/MyriadPro-SemiboldSemiExt.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-SemiExtIt.eot');
    src: local('Myriad Pro SemiExtended Italic'), local('MyriadPro-SemiExtIt'),
    url('../fonts/MyriadPro-SemiExtIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-SemiExtIt.woff') format('woff'),
    url('../fonts/MyriadPro-SemiExtIt.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-BlackSemiCn.eot');
    src: local('Myriad Pro Black SemiCondensed'), local('MyriadPro-BlackSemiCn'),
    url('../fonts/MyriadPro-BlackSemiCn.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-BlackSemiCn.woff') format('woff'),
    url('../fonts/MyriadPro-BlackSemiCn.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-BlackSemiExt.eot');
    src: local('Myriad Pro Black SemiExtended'), local('MyriadPro-BlackSemiExt'),
    url('../fonts/MyriadPro-BlackSemiExt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-BlackSemiExt.woff') format('woff'),
    url('../fonts/MyriadPro-BlackSemiExt.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-SemiExt.eot');
    src: local('Myriad Pro SemiExtended'), local('MyriadPro-SemiExt'),
    url('../fonts/MyriadPro-SemiExt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MyriadPro-SemiExt.woff') format('woff'),
    url('../fonts/MyriadPro-SemiExt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
