.footer-vk {
    @include bg-svg($footer-vk);
    &:hover {
        @include bg-svg($footer-vk-hover);
    }
}
.footer-youtube {
    @include bg-svg($footer-youtube);
    &:hover {
        @include bg-svg($footer-youtube-hover);
    }
}
.footer-facebook {
    @include bg-svg($footer-facebook);
    &:hover {
        @include bg-svg($footer-facebook-hover);
    }
}
.footer-twitter {
    @include bg-svg($footer-twitter);
    &:hover {
        @include bg-svg($footer-twitter-hover);
    }
}
.footer-instagram {
    @include bg-svg($footer-instagram);
    &:hover {
        @include bg-svg($footer-instagram-hover);
    }
}
.footer-telegram {
    @include bg-svg($footer-telegram);
    &:hover {
        @include bg-svg($footer-telegram-hover);
    }
}

.icon-version-white {
    @include bg-svg($icon-version-white);
}

.header-enrollee {
    @include bg-svg($header-enrollee);
}

.header-training {
    @include bg-svg($header-training);
}

.header-employee {
    @include bg-svg($header-employee);
}

.header-graduate {
    @include bg-svg($header-graduate);
}
.icon-lk {
    @include bg-svg($icon-lk);
}
.icon-rus {
    @include bg-svg($icon-rus);
}
.icon-search {
    @include bg-svg($icon-search);
}
.icon-view {
    @include bg-svg($icon-view);
}
.news-view {
    @include bg-svg($news-view);
}
.news-like {
    @include bg-svg($news-like);
}

.icon-pagination-next {
    @include bg-svg($pagination-next);
}
.icon-pagination-prev {
    @include bg-svg($pagination-prev);
}

.icon-pagination-start {
    @include bg-svg($pagination-start);
}
.icon-pagination-end {
    @include bg-svg($pagination-end);
}
.icon-facebook {
    @include bg-svg($icon-facebook);
}
.icon-ok {
    @include bg-svg($icon-ok);
}
.icon-vk {
    @include bg-svg($icon-vk);
}
.icon-twitter {
    @include bg-svg($icon-twitter);
}
