// Mixins.

@mixin nl {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style: none;
    list-style-position: outside;
}

@mixin cf {
    &:before,
    &:after {
        display: table;
        content: "";
    }

    &:after {
        clear: both;
    }

    .lt-ie8 & {
        zoom: 1;
    }
}

@mixin blocks-justify {
    text-align: justify;
    text-justify: newspaper;
}

@mixin full {
    width: 100%;
    height: 100%;
}

@mixin full-img {
    @include full;
    object-position: center;
    object-fit: cover;
}

@mixin pos-absolute {
    position: absolute;
    top: 0;
    left: 0;
}

@mixin center {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

@mixin before {
    content: '';
    display: block;
}
