$white-color: #ffffff;
$black-color: #000000;

$light-blue-color: #E1F8FE;
$blue-color: #1D71B8;
$blue-color2: #27348B;
$blue-color3: #286AA6;
$dark-blue-color: #202D81;
$blue-hover: #233881;

$light-blue-color2: #F3F9FF;

$border-color: #DCDCDC;

$text-color: #333333;
$text-color2: #4C4C4C;

$gray-color: #8D8D8D;

$border-gray-color: #E0E0E0;

$font-MyriadPro: 'Myriad Pro', sans-serif;

%h1 {
    font-size: 58px;
    line-height: 60px;
    margin-bottom: 0;
    font-weight: bold;
    letter-spacing: 0.026em;
    @media screen and (max-width: 992px) {
        font-size: 42px;
        line-height: 1;
    }
    @media screen and (max-width: 576px) {
        font-size: 24px;
    }
}

%h2 {
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.0112em;
    margin-bottom: 0;
    @media screen and (max-width: 992px) {
        font-size: 28px;
        line-height: 28px;
    }
    @media screen and (max-width: 768px) {
        font-size: 24px;
        line-height: 32px;
    }
}

%h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: -0.01em;
    margin-bottom: 0;
    @media screen and (max-width: 992px) {
        font-size: 20px;
        line-height: 22px
    }
}

%h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: -0.01em;
    margin-bottom: 0;
    @media screen and (max-width: 992px) {
        font-size: 18px;
        line-height: 20px;
    }
}

%h5 {
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 0;
}

%h6 {
}

%text16 {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}

%text14 {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
}

%text12 {
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
}
