{{> header/header}}

<div class="page">
    <div class="container">
        <div class="breadcrumb">
            <ul class="breadcrumb__list">
                <li>
                    <a href="index.html"><span>Главная</span></a>
                </li>
                <li>
                    <a href="news-list.html">Новости</a>
                </li>
                <li>
                    <a href="index.html">Институт ядерной энергии и промышленности</a>
                </li>
                <li>Ядерные энергетические установки</li>
            </ul>
        </div>
    </div>

    <div class="institute__banner">
        <img src="static/img/content/banner-ta.png" alt="">
    </div>

    <div class="container">
        <div class="d-flex institute__page">
            <div class="institute__aside">
                {{>aside/aside-menu-main}}

                {{>aside/aside-contact}}
            </div>

            <div class="institute__content">
                <div class="d-flex title-soc">
                    <h2>Ядерные энергетические установки</h2>

                    <ul class="soc">
                        <li>
                            <a href="#" class="icon-facebook"></a>
                        </li>
                        <li>
                            <a href="#" class="icon-ok"></a>
                        </li>
                        <li>
                            <a href="#" class="icon-twitter"></a>
                        </li>
                        <li>
                            <a href="#" class="icon-vk"></a>
                        </li>
                    </ul>
                </div>

                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" id="about-tab" data-toggle="tab" href="#about" role="tab"
                           aria-controls="about" aria-selected="true">ОПИСАНИЕ</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" id="teachers-tab" data-toggle="tab" href="#teachers" role="tab"
                           aria-controls="teachers" aria-selected="false">ПРЕПОДАВАТЕЛЬСКИЙ СОСТАВ</a>
                    </li>
                </ul>
                <div class="tab-content institute__tab" id="myTabContent">
                    <div class="tab-pane fade" id="about" role="tabpanel" aria-labelledby="about-tab">
                        <div class="institute__tab--content">
                            <div class="institute__tab--info">
                                <h4>Кафедра «Ядерные энергетические установки» осуществляет подготовку по
                                    специальности:</h4>
                                <ul>
                                    <li>14.05.02 − Атомные станции: проектирование, эксплуатация и инжиниринг,
                                        Специализация №1 «Проектирование и эксплуатация атомных станций», квалификация:
                                        «инженер-физик».
                                    </li>
                                    <li>14.03.01 - Ядерная энергетика и теплофизика</li>
                                </ul>

                                <p><b>Формы обучения:</b> очная (специалитет, 5,5 лет)</p>
                            </div>
                            <p>История кафедры берет начало в 1959 году, с создания Севастопольского высшего
                                военно-морского
                                инженерного училища, призванного готовить военных инженеров для атомного подводного
                                флота
                                СССР. В 1996 году на базе СВВМИУ был создан Севастопольский институт ядерной энергии и
                                промышленности. С 2015 года кафедра «Ядерные энергетические установки» входит в
                                структуру
                                Института ядерной энергии и промышленности СевГУ.</p>
                            <p>Профессорско-преподавательский состав кафедры – высококвалифицированные специалисты в
                                области
                                ядерной энергетики, опытные педагоги и ученые, имеющие научные звания и опыт в
                                эксплуатации
                                ядерных энергетических установок.</p>
                            <h4>Основные направления научных исследований на кафедре:</h4>
                            <ul>
                                <li>разработка методов надежной оценки теплотехнической надежности активных зон ВВЭР в
                                    различных эксплуатационных режимах;
                                </li>
                                <li>повышение безопасности реакторных установок АЭС в условиях нормальной эксплуатации и
                                    аварийных ситуаций;
                                </li>
                                <li>проблемы и перспективы развития ядерной энергетики;</li>
                                <li>разработка перспективных конструкций внутрикорпусных устройств ВВЭР с целью
                                    повышения
                                    их эксплуатационной надежности и увеличения срока службы;
                                </li>
                                <li>разработка методологии снижения опасных последствий тяжелых запроектных аварий на
                                    АЭС;
                                </li>
                                <li>результаты научно-исследовательской работы реализуются в учебниках, патентах,
                                    эксплуатационной
                                    и нормативной документации АЭС, научных статьях и программах учебных дисциплин
                                    кафедры.
                                </li>
                            </ul>

                            <p>Педагоги кафедры участвуют в научно-технических конференциях и семинарах вузов России,
                                стран
                                СНГ, ВАО АЭС, МАГАТЭ. Ведется тесное взаимодействие с профильными организациями и
                                вузами:
                                Международным агентством по атомной энергетике, Госкорпорацией «Росатом», АО «Концерн
                                Росэнергоатом», Ассоциацией высших учебных заведений «Консорциум опорных вузов
                                Государственной корпорации по атомной энергетике «Росатом», Национальным университетом
                                ядерных исследований МИФИ и его филиалами, АО «ВНИИ АЭС», Белорусским техническим
                                университетом, Институтом атомной энергии Китая (г. Ченду) и др.</p>
                            <p>Особенностью образовательного процесса является практическая направленность подготовки
                                студентов – ей отведено более 60% учебного времени. Большое внимание уделяется
                                интерактивным
                                средствам обучения.
                                В процессе практической подготовки активно используется реальное оборудование ядерных
                                энергетических установок АЭС: исследовательский реактор ИР-100, физический стенд
                                (критическая сборка, расположенная
                                в массиве биологической защиты реактора), подкритическая уран-водная сборка.
                                Отработанные во
                                время обучения практические навыки студенты закрепляют во время производственной
                                практики.
                                Для актуализации обучения подписаны соглашения о сотрудничестве в области образования,
                                науки
                                и подготовки кадров с АНО ДПО «Техническая академия Росатома», Балаковской АЭС,
                                Смоленской
                                АЭС, Калининской АЭС, Курской АЭС, Нововоронежской АЭС, Севастопольской ТЭС. Заключены
                                договоры о целевом приеме для подготовки специалистов в интересах организаций, входящих
                                в
                                контур управления АО «Концерн Росэнергоатом».</p>
                            <p>Кафедра имеет развитую учебную и научно-исследовательскую материальную базу. В ее состав
                                входят лаборатория с макетом холодного ядерного реактора, учебные лаборатории
                                «Физическая
                                ядерная безопасность», «Реакторная физика, управление и безопасная эксплуатация ЯЭУ»,
                                аналитический тренажер
                                по управлению энергоблоком АЭС с ВВЭР-1000; локальный тренажер реакторного и турбинного
                                цехов «Клотик», класс тренажерной подготовки.</p>
                            <p>Выпускники компетентны в вопросах проектирования, создания и эксплуатации атомных станций
                                и
                                других ядерных энергетических установок, вырабатывающих, преобразующих и использующих
                                тепловую и ядерную энергию, включая входящие в их состав системы контроля, защиты,
                                управления и обеспечения ядерной и радиационной безопасности.</p>
                            <p>Выпускники востребованы в цехах атомных и тепловых станций, предприятиях энергетического
                                комплекса России, проектных и научных организациях Госкорпорации «Росатом», имеют
                                перспективу трудоустройства
                                в зарубежных странах – реципиентах атомной э нергетики. Свыше 95% выпускников
                                трудоустраиваются
                                по специальности на атомных станциях и предприятиях ядерно-топливного цикла.</p>
                            <p>Работа в отрасли атомной энергетики гарантирует достойную заработную плату (в 2,5 раза
                                выше
                                средней
                                по региону), расширенный социальный и льготный пакет, возможность участия в специальных
                                жилищных программах, прозрачные карьерные траектории, сложные и интересные задачи,
                                постоянное обучение
                                и развитие в команде профессионалов.</p>
                        </div>
                    </div>

                    <div class="tab-pane fade show active" id="teachers" role="tabpanel"
                         aria-labelledby="teachers-tab">
                        <div class="institute__teachers-list">
                            <div class="d-flex institute__teacher">
                                <div class="institute__teacher--image">
                                    <img src="static/img/content/teacher.png" alt="">
                                </div>
                                <div class="institute__teacher--info">
                                    <h3>Матузаев Кирилл Борисович</h3>
                                    <p>Заведующий кафедрой (Кандидат технических наук, доцент)</p>
                                </div>
                            </div>

                            <div class="d-flex institute__teacher">
                                <div class="institute__teacher--image">
                                    <img src="static/img/content/teacher.png" alt="">
                                </div>
                                <div class="institute__teacher--info">
                                    <h3>Браславский Юрий Валентинович</h3>
                                    <p>Доцент (Кандидат технических наук, доцент)</p>
                                </div>
                            </div>

                            <div class="d-flex institute__teacher">
                                <div class="institute__teacher--image">
                                    <img src="static/img/content/teacher.png" alt="">
                                </div>
                                <div class="institute__teacher--info">
                                    <h3>Сукрушев Александр Владимирович</h3>
                                    <p>Старший преподаватель</p>
                                </div>
                            </div>

                            <div class="d-flex institute__teacher">
                                <div class="institute__teacher--image">
                                    <img src="static/img/content/teacher.png" alt="">
                                </div>
                                <div class="institute__teacher--info">
                                    <h3>Мерзликин Геннадий Яковлевич</h3>
                                    <p>Старший преподаватель</p>
                                </div>
                            </div>

                            <div class="d-flex institute__teacher">
                                <div class="institute__teacher--image">
                                    <img src="static/img/content/teacher2.png" alt="">
                                </div>
                                <div class="institute__teacher--info">
                                    <h3>Шаповаленко Виктория Владимировна</h3>
                                    <p>Старший преподаватель</p>
                                </div>
                            </div>

                            <div class="d-flex institute__teacher">
                                <div class="institute__teacher--image">
                                    <img src="static/img/content/teacher.png" alt="">
                                </div>
                                <div class="institute__teacher--info">
                                    <h3>Аникевич Константин Павлович</h3>
                                    <p>Старший преподаватель</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="gallery-slider">
                    <div class="swiper-container gallery-swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="gallery-slider__item">
                                    <img src="static/img/content/gallery.png" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="gallery-slider__item">
                                    <img src="static/img/content/gallery1.png" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="gallery-slider__item">
                                    <img src="static/img/content/gallery2.png" alt="">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="gallery-slider__item">
                                    <img src="static/img/content/gallery.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="swiper-button-next gallery-slider-next"></div>
                    <div class="swiper-button-prev gallery-slider-prev"></div>
                </div>
            </div>
        </div>
    </div>
</div>
