.title-soc {
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 24px;

    @media screen and (max-width: 576px) {
        flex-direction: column;
        justify-content: flex-start;
    }

    h2 {
        color: $blue-color;
        @extend %h2;
        @media screen and (max-width: 576px) {
            margin-bottom: 16px;
        }
    }
}

.soc {
    @include nl;
    align-items: center;
    display: flex;
    flex-shrink: 0;

    li {
        flex-shrink: 0;
        display: block;
        margin-right: 6px;

        &:last-child {
            margin-right: 0;
        }
    }

    li a {
        display: block;
        width: 24px;
        height: 24px;
    }
}

.institute {
    &__page {
        @media screen and (max-width: 992px) {
            flex-direction: column;
        }
    }

    &__aside {
        width: 263px;
        flex-shrink: 0;
        margin-right: 30px;
        @media screen and (max-width: 992px) {
            margin-bottom: 32px;
            margin-right: 0;
            width: 100%;
        }
    }

    &__content {
        width: calc(100% - 293px);
        @media screen and (max-width: 992px) {
            width: 100%;
        }

        .nav-tabs {
        }

        .nav-link {
            font-weight: normal;
            font-size: 16px;
            line-height: 18px;
            letter-spacing: -0.01em;
            color: $black-color;
            padding: 12px !important;
            border: 2px solid $border-gray-color;
            box-sizing: border-box;
            border-radius: 4px 4px 0px 0px;
            border-bottom: none;
            @media screen and (max-width: 576px) {
                font-size: 13px;
                line-height: 18px;
                padding: 7px 6px !important;
                letter-spacing: -0.02em;
                border-width: 2px;
            }

            &.active {
                color: $white-color !important;
                background-color: $blue-color !important;
                border-color: $blue-color !important;
            }
        }
    }

    &__banner {
        width: 100%;
        overflow: hidden;
        height: 394px;
        position: relative;
        margin-bottom: 70px;
        @media screen and (max-width: 992px) {
            height: 291px;
            margin-bottom: 35px;
        }
        @media screen and (max-width: 576px) {
            height: auto;
            position: relative;
            padding-bottom: 38.4%;
            margin-bottom: 40px;

            img {
                @include full-img;
                @include pos-absolute;
            }
        }

        img {
            @include full-img;
            @include pos-absolute;
        }
    }

    &__tab {
        border: 2px solid $border-gray-color;

        &--content {
            padding: 24px 18px;

            p {
                @extend %text16;
                margin-bottom: 16px;
            }

            h4 {
                @extend %h4;
                margin-bottom: 18px;
                margin-top: 24px;
            }

            ul:not([class]) {
                @include nl;
                margin-bottom: 24px;

                li {
                    @extend %text16;
                    margin-bottom: 12px;
                    position: relative;
                    padding-left: 40px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                    &:before {
                        @include before;
                        @include pos-absolute;
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        background-color: $text-color;
                        top: 7px;
                        left: 24px;
                    }
                }
            }
        }

        &--info {
            padding-bottom: 8px;
            margin-bottom: 24px;
            border-bottom: 1px solid rgba(29, 113, 184, 0.73);

            h4 {
                color: $blue-color2;
                margin-bottom: 24px;
                margin-top: 0;
            }

            ul:not([class]) {
                li {
                    color: $blue-color;
                    line-height: 18px;
                    margin-bottom: 8px;

                    &:before {
                        background-color: $blue-color;
                    }
                }
            }
        }
    }

    &__teacher {
        padding: 20px;
        border-bottom: 2px solid $border-gray-color;
        align-items: flex-end;

        &:last-child {
            border-bottom: none;
        }

        &--image {
            width: 85px;
            height: 85px;
            flex-shrink: 0;
            margin-right: 15px;
            border: 1px solid $border-gray-color;
            overflow: hidden;
            background-color: $white-color;
            position: relative;

            img {
                @include pos-absolute;
                @include full-img;
            }
        }

        &--info {
            h3 {
                @extend %h3;
                color: $blue-color2;
                margin-bottom: 4px;
            }

            p {
                margin-bottom: 0;
                @extend %text16;
                color: $blue-color2;
                opacity: 0.8;
            }
        }
    }
}


.gallery-slider {
    margin: 60px 0 40px;
    position: relative;

    &-next, &-prev {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    &-next {
        right: -50px;
    }

    &-prev {
        left: -50px;
    }

    &__item {
        position: relative;
        overflow: hidden;
        padding-bottom: 79.8%;

        img {
            @include pos-absolute;
            @include full-img;
        }
    }
}

.institute-list {
    .col-lg-4 {
        margin-bottom: 60px;
    }
}

.institute-item {
    height: 100%;
    display: flex;
    flex-direction: column;

    &__image {
        position: relative;
        padding-bottom: 51.4%;
        overflow: hidden;
        flex-shrink: 0;
        margin-bottom: 24px;
        @media screen and (max-width: 992px) {
            padding-bottom: 56%;
        }
        @media screen and (max-width: 576px) {
            padding-bottom: 63.8%;
            margin-bottom: 16px;
        }

        img {
            @include full-img;
            @include pos-absolute;
        }
    }

    &__content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        p {
            @extend %text16;
            color: $text-color;
            margin-bottom: 12px;
        }

        .btn-blue {
            margin-top: auto;
        }
    }

    &__title {
        @extend %h4;
        color: $blue-color;
        margin-bottom: 16px;
        text-decoration: none;
        transition: all 0.25s;
        @media screen and (max-width: 992px) {
            font-size: 20px;
            line-height: 22px;
        }
        @media screen and (max-width: 576px) {
            margin-bottom: 8px;
        }

        &:hover {
            color: $blue-hover;
            text-decoration: none;
        }
    }
}
