{{> header/header}}

<div class="page">
    <div class="container">
        <div class="breadcrumb">
            <ul class="breadcrumb__list">
                <li>
                    <a href="index.html"><span>Главная</span></a>
                </li>
                <li>Образование</li>
            </ul>
        </div>

        <div class="page__title">
            <h1>Институты</h1>
        </div>

        <div class="row institute-list">
            <div class="col-lg-4 col-sm-6">
                <div class="institute-item">
                    <div class="institute-item__image">
                        <img src="static/img/content/institutes/item1.png" alt="">
                    </div>
                    <div class="institute-item__content">
                        <a href="institute-main.html" class="institute-item__title">Институт информационных
                            технологий и управления в технических
                            системах</a>
                        <p>г. Севастополь,<br>
                            ул. Университетская, 33</p>
                        <a href="institute-main.html" class="btn btn-blue">Подробнее</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="institute-item">
                    <div class="institute-item__image">
                        <img src="static/img/content/institutes/item2.png" alt="">
                    </div>
                    <div class="institute-item__content">
                        <a href="institute-main.html" class="institute-item__title">Институт ядерной энергии и промышленности</a>
                        <p>г. Севастополь,<br>
                            ул. Университетская, 33</p>
                        <a href="institute-main.html" class="btn btn-blue">Подробнее</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="institute-item">
                    <div class="institute-item__image">
                        <img src="static/img/content/institutes/item3.png" alt="">
                    </div>
                    <div class="institute-item__content">
                        <a href="institute-main.html" class="institute-item__title">Гуманитарно-педагогический институт СевГУ</a>
                        <p>г. Севастополь,<br>
                            ул. Университетская, 33</p>
                        <a href="institute-main.html" class="btn btn-blue">Подробнее</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="institute-item">
                    <div class="institute-item__image">
                        <img src="static/img/content/institutes/item4.png" alt="">
                    </div>
                    <div class="institute-item__content">
                        <a href="institute-main.html" class="institute-item__title">Политехнический институт</a>
                        <p>г. Севастополь,<br>
                            ул. Университетская, 33</p>
                        <a href="institute-main.html" class="btn btn-blue">Подробнее</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="institute-item">
                    <div class="institute-item__image">
                        <img src="static/img/content/institutes/item5.png" alt="">
                    </div>
                    <div class="institute-item__content">
                        <a href="institute-main.html" class="institute-item__title">Юридический институт СевГУ</a>
                        <p>г. Севастополь,<br>
                            ул. Университетская, 33</p>
                        <a href="institute-main.html" class="btn btn-blue">Подробнее</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="institute-item">
                    <div class="institute-item__image">
                        <img src="static/img/content/institutes/item6.png" alt="">
                    </div>
                    <div class="institute-item__content">
                        <a href="institute-main.html" class="institute-item__title">Морской институт</a>
                        <p>г. Севастополь,<br>
                            ул. Университетская, 33</p>
                        <a href="institute-main.html" class="btn btn-blue">Подробнее</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="institute-item">
                    <div class="institute-item__image">
                        <img src="static/img/content/institutes/item7.png" alt="">
                    </div>
                    <div class="institute-item__content">
                        <a href="institute-main.html" class="institute-item__title">Институт радиоэлектроники и информационной безопасности</a>
                        <p>г. Севастополь,<br>
                            ул. Университетская, 33</p>
                        <a href="institute-main.html" class="btn btn-blue">Подробнее</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="institute-item">
                    <div class="institute-item__image">
                        <img src="static/img/content/institutes/item8.png" alt="">
                    </div>
                    <div class="institute-item__content">
                        <a href="institute-main.html" class="institute-item__title">Институт финансов, экономики и управления</a>
                        <p>г. Севастополь,<br>
                            ул. Университетская, 33</p>
                        <a href="institute-main.html" class="btn btn-blue">Подробнее</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="institute-item">
                    <div class="institute-item__image">
                        <img src="static/img/content/institutes/item9.png" alt="">
                    </div>
                    <div class="institute-item__content">
                        <a href="institute-main.html" class="institute-item__title">Институт дополнительного профессионального образования</a>
                        <p>г. Севастополь,<br>
                            ул. Университетская, 33</p>
                        <a href="institute-main.html" class="btn btn-blue">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
