{{> header/header}}

<div class="page">
    <div class="container">
        <div class="breadcrumb">
            <ul class="breadcrumb__list">
                <li>
                    <a href="index.html"><span>Главная</span></a>
                </li>
                <li>
                    <a href="news-list.html">Новости</a>
                </li>
                <li>
                    <a href="index.html">Образование</a>
                </li>
                <li>Институт ядерной энергии и промышленности</li>
            </ul>
        </div>
    </div>

    <div class="institute__banner">
        <img src="static/img/content/institute-banner.png" alt="">
    </div>

    <div class="container">
        <div class="main-count">
            <div class="d-flex main-count__wrap">
                <div class="main-count__item">
                    9 000
                    <span>студентов</span>
                </div>
                <div class="main-count__item">
                    40
                    <span>преподавателя</span>
                </div>
                <div class="main-count__item">
                    5
                    <span>корпусов</span>
                </div>
                <div class="main-count__item">
                    42
                    <span>специальностей</span>
                </div>
            </div>
        </div>

        <div class="d-flex institute__page">
            <div class="institute__aside">
                {{>aside/aside-menu}}

                {{>aside/aside-contact}}
            </div>

            <div class="institute__content">
                <p>Институт ядерной энергии и промышленности готовит специалистов для атомной энергетики и
                    промышленности, систем энергоснабжения, специалистов по охране окружающей среды и энергосберегающим
                    технологиям.
                </p>
                <p>Учебный корпус Института ядерной энергии и промышленности имеет самую долгую историю среди всех
                    высших образовательных заведений города . Он был заложен в 1915 году по приказу Николая II как
                    Морской кадетский корпус,
                    в 1924-1931 годах в нем находилось училище морских лётчиков, с 1951 по 1996 год — Севастопольское
                    высшее военно-морское инженерное училище (СВВМИУ), готовившее специалистов для атомного подводного
                    флота. С 1996 году на базе СВВМИУ был создан Севастопольский институт ядерной энергии и
                    промышленности. С 2015 года он вошёл в состав Севастопольского государственного университета. За эти
                    годы было подготовлено более 16 тысяч высококлассных специалистов для атомного подводного флота СССР
                    и более 8,5 тысяч гражданских специалистов в области атомной энергетики и IT-отрасли.</p>

                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne" data-toggle="collapse"
                             data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Бакалавриат
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                             data-parent="#accordionExample">
                            <div class="card-body">
                                <ul>
                                    <li><a href="#">05.03.06 - Экология и природопользование</a></li>
                                    <li><a href="#">13.03.02 - Электроэнергетика и электротехника</a></li>
                                    <li><a href="#">14.03.01 - Ядерная энергетика и теплофизика</a></li>
                                    <li><a href="#">16.03.03 - Холодильная, криогенная техника и системы
                                        жизнеобеспечения</a></li>
                                    <li><a href="#">18.03.01 - Химическая технология</a></li>
                                    <li><a href="#">20.03.02 - Природообустройство и водопользование</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingTwo" data-toggle="collapse"
                             data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Специалитет
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                             data-parent="#accordionExample">
                            <div class="card-body">
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingFour" data-toggle="collapse"
                             data-target="#collapseFour" aria-expanded="false"
                             aria-controls="collapseFour">
                            Магистратура
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                             data-parent="#accordionExample">
                            <div class="card-body">
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingThree" data-toggle="collapse"
                             data-target="#collapseThree" aria-expanded="false"
                             aria-controls="collapseThree">
                            Магистратура
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                             data-parent="#accordionExample">
                            <div class="card-body">
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <div class="page__title">
                        <h2>Жизнь института</h2>
                    </div>

                    <div class="d-flex page-news">
                        <div class="col-md-4 col-sm-5 pl-0 pr-0 page-news__media">
                            <img src="static/img/content/page-news1.png" alt="">
                            <div class="page-news__type type-cooperation">Сотрудничество</div>
                        </div>

                        <div class="col-md-8 col-sm-7 page-news__content">
                            <a href="#" class="page-news__title" title="">Первый год в России. Как учат иностранцев в
                                СевГУ</a>
                            <p>В этом году 20 выпускников подготовительных курсов сдали экзамены и получили сертификаты
                                о знании русского языка. Это студенты из Колумбии, Афганистана, Камеруна, Синегала, ЮАР,
                                Нигерии, Конго...В этом году 20 выпускников подготовительных курсов сдали экзамены и
                                получили сертификаты
                                о знании русского языка. Это студенты из Колумбии, Афганистана, Камеруна, Синегала, ЮАР,
                                Нигерии, Конго...</p>

                            <div class="d-flex page-news__info">
                                <time>09 июня 2020</time>
                                <div class="d-flex page-news__view">
                                    <div class="icon news-view"></div>
                                    670
                                </div>
                                <div class="d-flex page-news__like">
                                    <div class="icon news-like"></div>
                                    15
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex page-news">
                        <div class="col-md-4 col-sm-5 pl-0 pr-0 page-news__media">
                            <img src="static/img/content/page-news2.png" alt="">
                            <div class="page-news__type type-study">Вне учебы</div>
                        </div>

                        <div class="col-md-8 col-sm-7 page-news__content">
                            <a href="#" class="page-news__title" title="">Первый год в России. Как учат иностранцев в
                                СевГУ</a>
                            <p>В этом году 20 выпускников подготовительных курсов сдали экзамены и получили сертификаты
                                о знании русского языка. Это студенты из Колумбии, Афганистана, Камеруна, Синегала, ЮАР,
                                Нигерии, Конго...</p>

                            <div class="d-flex page-news__info">
                                <time>09 июня 2020</time>
                                <div class="d-flex page-news__view">
                                    <div class="icon news-view"></div>
                                    670
                                </div>
                                <div class="d-flex page-news__like">
                                    <div class="icon news-like"></div>
                                    15
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex page-news">
                        <div class="col-md-4 col-sm-5 pl-0 pr-0 page-news__media">
                            <img src="static/img/content/page-news3.png" alt="">
                            <div class="page-news__type type-video">Видеоархив</div>
                        </div>

                        <div class="col-md-8 col-sm-7 page-news__content">
                            <a href="#" class="page-news__title" title="">СевГУ направляет вторую археологическую
                                экспедицию к берегам Сирии</a>
                            <p>Более 120 подводных объектов в районе акватории острова Арвад у побережья сирийского
                                города Тартус обследует вторая подводно-археологическая экспедиция Севастопольского
                                госуниверситета.</p>

                            <div class="d-flex page-news__info">
                                <time>09 июня 2020</time>
                                <div class="d-flex page-news__view">
                                    <div class="icon news-view"></div>
                                    670
                                </div>
                                <div class="d-flex page-news__like">
                                    <div class="icon news-like"></div>
                                    15
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex page-news">
                        <div class="col-md-4 col-sm-5 pl-0 pr-0 page-news__media">
                            <img src="static/img/content/page-news4.png" alt="">
                            <div class="page-news__type type-video">Видеоархив</div>
                        </div>

                        <div class="col-md-8 col-sm-7 page-news__content">
                            <a href="#" class="page-news__title" title="">Первый год в России. Как учат иностранцев в
                                СевГУ</a>
                            <p>В этом году 20 выпускников подготовительных курсов сдали экзамены и получили сертификаты
                                о знании русского языка. Это студенты из Колумбии, Афганистана, Камеруна, Синегала, ЮАР,
                                Нигерии, Конго...</p>

                            <div class="d-flex page-news__info">
                                <time>09 июня 2020</time>
                                <div class="d-flex page-news__view">
                                    <div class="icon news-view"></div>
                                    670
                                </div>
                                <div class="d-flex page-news__like">
                                    <div class="icon news-like"></div>
                                    15
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <a href="#" class="button btn-blue ml-auto">Загрузить еще</a>
                    </div>

                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#">
                                <span class="icon-pagination-start"></span>
                            </a>
                        </li>

                        <li class="page-item page-item-prev">
                            <a class="page-link" href="#">
                                <span class="icon-pagination-prev"></span>
                            </a>
                        </li>

                        <li class="page-item">
                            <a class="page-link" href="#">1</a>
                        </li>

                        <li class="page-item active">
                            <a class="page-link" href="#">2</a>
                        </li>

                        <li class="page-item d-none d-sm-block">
                            <a class="page-link" href="#">3</a>
                        </li>

                        <li class="page-item d-none d-sm-block">
                            <a class="page-link" href="#">4</a>
                        </li>

                        <li class="page-item">...</li>

                        <li class="page-item">
                            <a class="page-link" href="#">12</a>
                        </li>

                        <li class="page-item page-item-next">
                            <a class="page-link" href="#">
                                <span class="icon-pagination-next"></span>
                            </a>
                        </li>

                        <li class="page-item">
                            <a class="page-link" href="#">
                                <span class="icon-pagination-end"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
