<footer class="footer">
    <div class="container">
        <div class="row footer__wrap">
            <div class="col-xl-4 col-md-6 footer__col">
                <h4>РАЗДЕЛЫ САЙТА</h4>

                <ul class="footer__menu">
                    <li>
                        <a href="#">Университет</a>
                    </li>
                    <li>
                        <a href="#">Вне учебы</a>
                    </li>
                    <li>
                        <a href="#">Образование</a>
                    </li>
                    <li>
                        <a href="#">Новости</a>
                    </li>
                    <li>
                        <a href="#">Сотрудничество</a>
                    </li>
                    <li>
                        <a href="#">Наука</a>
                    </li>
                </ul>

                <ul class="footer__list footer__list-col">
                    <li>
                        <a href="#">Сведения об образовательной организации</a>
                    </li>
                    <li>
                        <a href="#">Сообщить о проблеме</a>
                    </li>
                </ul>
            </div>

            <div class="col-xl-4 col-md-6 footer__col">
                <div class="row">
                    <div class="col-6">
                        <h4>ПОЛЕЗНОЕ</h4>

                        <ul class="footer__list">
                            <li>
                                <a href="#">Школьникам</a>
                            </li>
                            <li>
                                <a href="#">Абитуриентам</a>
                            </li>
                            <li>
                                <a href="#">Сотрудникам</a>
                            </li>
                            <li>
                                <a href="#">Выпусникам</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <h4>СЕРВИСЫ</h4>

                        <ul class="footer__list">
                            <li>
                                <a href="#">Контакты</a>
                            </li>
                            <li>
                                <a href="#">Личный кабинет</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 footer__col2">
                <div class="row">
                    <div class="col-xl-12 col-md-6">
                        <a href="index.html" class="footer__logo">
                            <img src="static/img/content/logo-footer.svg" alt="">
                        </a>

                        <div class="footer__info d-block d-xl-block d-md-none">
                            <a href="#" class="footer__version">
                                <div class="icon icon-version-white"></div>Версия для слабовидящих
                            </a>

                            <p>Использование новостных материалов сайта<br>
                                возможно только при наличии активной ссылки</p>
                            <p>Нашли ошибку?<br>
                                Выделите ее и нажмите CTRL+L</p>
                        </div>

                        <ul class="footer__soc">
                            <li>
                                <a href="#" class="footer__soc-icon footer-vk"></a>
                            </li>
                            <li>
                                <a href="#" class="footer__soc-icon footer-youtube"></a>
                            </li>
                            <li>
                                <a href="#" class="footer__soc-icon footer-facebook"></a>
                            </li>
                            <li>
                                <a href="#" class="footer__soc-icon footer-twitter"></a>
                            </li>
                            <li>
                                <a href="#" class="footer__soc-icon footer-instagram"></a>
                            </li>
                            <li>
                                <a href="#" class="footer__soc-icon footer-telegram"></a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-xl-12 col-md-6 d-none d-xl-none d-lg-block d-md-block">
                        <div class="footer__info d-block d-xl-none">
                            <a href="#" class="footer__version">
                                <div class="icon icon-version-white"></div>Версия для слабовидящих
                            </a>

                            <p>Использование новостных материалов сайта<br>
                                возможно только при наличии активной ссылки</p>
                            <p>Нашли ошибку?<br>
                                Выделите ее и нажмите CTRL+L</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer__copy">© 2014 - 2020. Все права защищены.</div>
    </div>
</footer>
