.footer {
    position: relative;
    padding-top: 304px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 7.62%, rgba(207, 217, 239, 0.3) 22.35%, rgba(163, 184, 224, 0.6) 35.7%, rgba(109, 142, 206, 0.8) 51.9%, rgba(55, 100, 188, 0.9) 68.42%, #27348B 92.63%);
    @media screen and (max-width: 768px) {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 5.62%, rgba(207, 217, 239, 0.3) 11.35%, rgba(163, 184, 224, 0.6) 16.7%, rgba(109, 142, 206, 0.8) 21.9%, rgba(55, 100, 188, 0.9) 48.42%, #27348B 82.63%);
    }
    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 360px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        background-image: url("../img/content/footer-wave.png");
    }
    h4 {
        @extend %h4;
        line-height: 24px;
        margin-bottom: 25px;
        color: $dark-blue-color;
        text-transform: uppercase;
        font-weight: bold;
        @media screen and (max-width: 768px) {
            color: $white-color;
        }
    }

    &__wrap {
        position: relative;
        z-index: 2;
    }

    &__logo {
        display: block;
        width: 217px;
        margin-bottom: 23px;
        @media screen and (max-width: 1200px) {
            margin-bottom: 20px;
        }
        @media screen and (max-width: 576px) {
           margin: 0 auto 20px;
        }

        img {
            width: 100%;
        }
    }

    &__menu, &__list {
        @include nl;

        li {
            margin-bottom: 17px;
        }

        li a {
            @extend %text14;
            line-height: 17px;
            color: $white-color;
            text-decoration: none;
            display: block;
            letter-spacing: 0.0156em;

            &:hover {
                color: $white-color;
                text-decoration: underline;
            }
        }
    }

    &__menu {
        display: flex;
        flex-wrap: wrap;

        li {
            width: 50%;
            flex-shrink: 0;
        }
    }

    &__list-col {
        @media screen and (max-width: 1200px) {
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            li {
                width: 50%;
                flex-shrink: 0;
            }
        }
    }

    &__col {
        margin-bottom: 0;
        @media screen and (max-width: 1200px) {
            margin-bottom: 15px;
        }

        &:first-child {
            @media screen and (max-width: 768px) {
                margin-bottom: 24px;
            }
        }
    }

    &__soc {
        @include nl;
        display: flex;
        align-items: center;
        margin: 2px 0 13px;
        @media screen and (max-width: 1200px) {
            margin: 0;
        }
        @media screen and (max-width: 576px) {
            width: 160px;
            margin: 0 auto;
            flex-wrap: wrap;
            padding-top: 16px;
        }

        li {
            width: 40px;
            flex-shrink: 0;
            margin-right: 19px;
            @media screen and (max-width: 576px) {
                margin-bottom: 16px;
            }

            &:last-child {
                margin-right: 0;
            }
            &:nth-child(3n) {
                @media screen and (max-width: 576px) {
                    margin-right: 0;
                }
            }
        }

        li a {
            height: 40px;
            width: 40px;
            display: block;
        }
    }

    &__version {
        display: flex;
        align-items: center;
        margin-bottom: 11px;
        @extend %text14;
        line-height: 17px;
        color: $white-color;
        text-decoration: none;

        &:hover {
            color: $white-color;
            text-decoration: underline;
        }

        .icon {
            width: 32px;
            height: 32px;
            flex-shrink: 0;
            margin-right: 12px;
        }
    }

    &__info {
        margin-bottom: 2px;
        @media screen and (max-width: 1200px) {
            margin-top: -10px;
        }

        p {
            @extend %text14;
            line-height: 17px;
            color: $white-color;
            margin-bottom: 15px;
        }
    }

    &__copy {
        padding: 14px 0;
        opacity: 0.6;
        font-size: 15px;
        line-height: 18px;
        color: $white-color;
        text-align: center;

        @media screen and (max-width: 1200px) {
            text-align: left;
            padding: 28px 0;
        }
        @media screen and (max-width: 576px) {
            padding: 16px 0 28px;
        }
    }
}
