<div class="main-banner">
    {{> header/header}}

    <div class="swiper-container main-banner__slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image: url('static/img/content/banner.jpg')">
                <div class="main-banner__slide">
                    <div class="container">
                        <div class="main-banner__content">
                            <h1>ДИСТАНЦИОННОЕ
                                ОБУЧЕНИЕ</h1>
                            <p>Правовая документация о переходе на дистанционное обучение в связи с эпидимиологической
                                обстановкой в стране</p>
                            <a href="#" class="btn btn-blue">ПОДРОБНЕЕ</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide" style="background-image: url('static/img/content/banner.jpg')">
                <div class="main-banner__slide">
                    <div class="container">
                        <div class="main-banner__content">
                            <h1>ДИСТАНЦИОННОЕ
                                ОБУЧЕНИЕ</h1>
                            <p>Правовая документация о переходе на дистанционное обучение в связи с эпидимиологической
                                обстановкой в стране</p>
                            <a href="#" class="btn btn-blue">ПОДРОБНЕЕ</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide" style="background-image: url('static/img/content/banner.jpg')">
                <div class="main-banner__slide">
                    <div class="container">
                        <div class="main-banner__content">
                            <h1>ДИСТАНЦИОННОЕ
                                ОБУЧЕНИЕ</h1>
                            <p>Правовая документация о переходе на дистанционное обучение в связи с эпидимиологической
                                обстановкой в стране</p>
                            <a href="#" class="btn btn-blue">ПОДРОБНЕЕ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="swiper-pagination main-banner__pagination"></div>
</div>
