.main-banner {
    height: 622px;
    position: relative;
    @media screen and (max-width: 992px) {
        height: 462px;
    }
    @media screen and (max-width: 576px) {
        height: 391px;
        border-radius: 0 0 16px 16px;
        overflow: hidden;
    }

    .header {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 10;
        background: linear-gradient(180deg, #074095 0%, rgba(15, 84, 187, 0.85) 34.9%, rgba(30, 97, 198, 0.63) 60.42%, rgba(75, 133, 221, 0.35) 81.25%, rgba(112, 163, 239, 0) 100%);
    }

    &__slider {
        height: 100%;

        .swiper-slide {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    &__slide {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 100px;
        height: 100%;
        @media screen and (max-width: 992px) {
            padding-bottom: 42px;
        }

        @media screen and (max-width: 576px) {
            padding-bottom: 0;
        }

        .container {
            @media screen and (max-width: 576px) {
                padding: 0;
            }
        }
    }

    &__content {
        width: 654px;
        height: auto;
        background: rgba(0, 85, 213, 0.6);
        border-radius: 16px;
        padding: 34px;
        color: $white-color;

        @media screen and (max-width: 992px) {
            width: 450px;
            padding: 32px 24px;
        }

        @media screen and (max-width: 576px) {
            padding: 30px 15px;
            width: 100%;
        }

        h1 {
            @extend %h1;
            margin-bottom: 10px;
        }

        p {
            @extend %h5;
            margin-bottom: 20px;
            @media screen and (max-width: 992px) {
                line-height: 26px;
                margin-bottom: 24px;
            }
            @media screen and (max-width: 576px) {
                font-size: 16px;
                line-height: 19px;
                margin-bottom: 6px;
            }
        }
    }

    &__pagination {
        position: absolute;
        z-index: 3;
        bottom: 70px;
        left: auto;
        right: calc((100vw - 1140px) / 2);

        @media screen and (max-width: 1200px) {
            right: calc((100vw - 930px) / 2);
        }

        @media screen and (max-width: 992px) {
            display: none;
        }
    }

    .swiper-pagination {
        &-bullet {
            background-color: transparent !important;
            border: 2px solid $white-color !important;
        }

        &-bullet-active {
            background-color: $blue-color !important;
        }
    }
}
