.main-partners {
    &__wrap {
        position: relative;
    }

    &-next, &-prev {
        top: 0;
        bottom: 0;
        position: absolute;
        margin: auto;
    }

    &-next {
        right: -25px;
        @media screen and (max-width: 768px) {
            right: -10px;
        }
    }

    &-prev {
        left: -25px;
        @media screen and (max-width: 768px) {
            left: -10px;
        }
    }
    &__image {
        width: 120px;
        height: 145px;
        margin: auto;
        position: relative;
        @media screen and (max-width: 768px) {
            width: 100px;
            height: 120px;
        }

        img {
            @include full;
            object-fit: contain;
            position: absolute;
            @include center;
        }
    }
}
