<div class="main-partners">
    <div class="container">
        <div class="title-block">
            <h2>ПАРТНЕРЫ</h2>
        </div>

        <div class="main-partners__wrap">
            <div class="swiper-container main-partners__slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class=" main-partners__image">
                            <img src="static/img/content/partners/part1.png" alt="">
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class=" main-partners__image">
                            <img src="static/img/content/partners/part2.png" alt="">
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class=" main-partners__image">
                            <img src="static/img/content/partners/part3.png" alt="">
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class=" main-partners__image">
                            <img src="static/img/content/partners/part4.png" alt="">
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class=" main-partners__image">
                            <img src="static/img/content/partners/part5.png" alt="">
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class=" main-partners__image">
                            <img src="static/img/content/partners/part6.png" alt="">
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class=" main-partners__image">
                            <img src="static/img/content/partners/part5.png" alt="">
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class=" main-partners__image">
                            <img src="static/img/content/partners/part6.png" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-button-next main-partners-next"></div>
            <div class="swiper-button-prev main-partners-prev"></div>
        </div>
    </div>
</div>
