<header class="header">
    <div class="container">
        <div class="d-flex header__wrap">
            <a href="index.html" class="header__logo">
                <img src="static/img/content/logo-footer.svg" alt="">
            </a>

            <div class="header__menu-wrap">
                <ul class="header__menu-main">
                    <li>
                        <a href="#">
                            <div class="icon header-enrollee"></div>АБИТУРИЕНТАМ
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="icon header-training"></div>ОБУЧАЮЩИМСЯ
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="icon header-employee"></div>СОТРУДНИКАМ
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="icon header-graduate"></div>ВЫПУСКНИКАМ
                        </a>
                    </li>
                </ul>

                <ul class="header__menu">
                    <li>
                        <a href="#">Университет</a>
                    </li>
                    <li>
                        <a href="#">Образование</a>
                    </li>
                    <li>
                        <a href="#">Наука</a>
                    </li>
                    <li>
                        <a href="#">Сотрудничество</a>
                    </li>
                    <li>
                        <a href="#">Вне учебы</a>
                    </li>
                    <li>
                        <a href="#">Новости</a>
                    </li>
                    <li>
                        <a href="#">Контакты</a>
                    </li>
                </ul>
            </div>

            <div class="header__right">
                <a href="lk.html" class="header__lk">
                    <div class="icon icon-lk"></div>Константинов Ю.Ю.
                </a>

                <ul class="header__sub">
                    <li>
                        <a href="#" class="icon-search"></a>
                    </li>
                    <li>
                        <a href="#" class="icon-rus"></a>
                    </li>
                    <li>
                        <a href="#" class="icon-view"></a>
                    </li>
                </ul>
            </div>

            <div class="d-flex d-lg-none header__sub-min">
                <div class="header__search"></div>

                <a href="#" class="header__lk"></a>

                <div class="header__burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</header>
