.header {
    background: linear-gradient(180deg, #074095 0%, rgba(15, 84, 187, 0.9) 34.9%, rgba(30, 97, 198, 0.65) 69.27%, rgba(75, 133, 221, 0.49) 100%);
    padding: 40px 0 35px;
    @media screen and (max-width: 992px) {
        padding: 20px 0 15px;
    }

    &__wrap {
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        display: block;
        cursor: pointer;
        width: 233px;
        flex-shrink: 0;
        @media screen and (max-width: 1200px) {
            width: 180px;
        }
        @media screen and (max-width: 992px) {
            width: 145px;
        }

        img {
            width: 100%;
        }
    }

    &__menu-wrap {
        flex-shrink: 0;
        @media screen and (max-width: 992px) {
            display: none;
        }
    }

    &__menu {
        justify-content: space-between;
        @include nl;
        display: flex;
        align-items: center;

        li {
            margin-right: 23px;
            @media screen and (max-width: 1200px) {
                margin-right: 12px;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        li a {
            font-weight: 600;
            font-size: 14px;
            line-height: 28px;
            text-decoration: none;
            color: $white-color;
            letter-spacing: 0.0096em;
            @media screen and (max-width: 1200px) {
                font-size: 13px;
            }

            &:hover {
                color: $white-color;
                text-decoration: underline;
            }
        }
    }

    &__menu-main {
        justify-content: space-between;
        @include nl;
        display: flex;
        align-items: center;
        margin-bottom: 6px;

        li a {
            display: flex;
            align-items: center;
            font-weight: 600;
            font-size: 14px;
            line-height: 28px;
            text-transform: uppercase;
            color: $white-color;
            text-decoration: none;
            @media screen and (max-width: 1200px) {
                font-size: 12px;
            }

            &:hover {
                color: $white-color;
                text-decoration: underline;
            }
        }

        .icon {
            flex-shrink: 0;
            margin-right: 5px;
            @media screen and (max-width: 1200px) {
                margin-right: 3px;
            }
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        @media screen and (max-width: 992px) {
            display: none;
        }
    }

    &__lk {
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 14px;
        line-height: 28px;
        color: $white-color;
        text-decoration: none;
        margin-bottom: 15px;
        @media screen and (max-width: 1200px) {
            font-size: 13px;
        }

        &:hover {
            color: $white-color;
            text-decoration: underline;
        }

        .icon {
            flex-shrink: 0;
            margin-right: 7px;
            @media screen and (max-width: 1200px) {
                margin-right: 4px;
            }
        }
    }

    &__sub {
        @include nl;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        li {
            margin-right: 18px;

            &:last-child {
                margin-right: 0;
            }
        }

        li a {
            display: block;
        }
    }

    &__sub-min {
        align-items: center;
    }

    &__burger {
        display: block;
        position: relative;
        width: 24px;
        height: 16px;
        cursor: pointer;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;

        span {
            display: block;
            width: 100%;
            height: 2px;
            background-color: $white-color;
            position: absolute;
            left: 0;
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -o-transform: rotate(0deg);
            transform: rotate(0deg);
            -webkit-transition: .25s ease-in-out;
            -moz-transition: .25s ease-in-out;
            -o-transition: .25s ease-in-out;
            transition: .25s ease-in-out;

            &:nth-child(1) {
                top: 0;
            }

            &:nth-child(2) {
                top: 7px;
            }

            &:nth-child(3) {
                top: 14px;
            }
        }

        &.open span:nth-child(1) {
            top: 10px;
            -webkit-transform: rotate(135deg);
            -moz-transform: rotate(135deg);
            -o-transform: rotate(135deg);
            transform: rotate(135deg);
        }

        &.open span:nth-child(2) {
            opacity: 0;
            left: -60px;
        }

        &.open span:nth-child(3) {
            top: 10px;
            -webkit-transform: rotate(-135deg);
            -moz-transform: rotate(-135deg);
            -o-transform: rotate(-135deg);
            transform: rotate(-135deg);
        }
    }

    &__search {
        @include bg-svg($icon-search-full);
        cursor: pointer;
        margin-right: 20px;
        @media screen and (max-width: 576px) {
            display: none;
        }
    }

    &__lk {
        @media screen and (max-width: 992px) {
            @include bg-svg($icon-lk-full);
            cursor: pointer;
            margin-right: 20px;
            margin-bottom: 0;
        }
        @media screen and (max-width: 576px) {
            display: none;
        }
    }
}
