<div class="main-info">
    <div class="container">
        <div class="title-block">
            <h2>СЕВГУ СЕЙЧАС</h2>
        </div>

        <div class="main-info__wrap">
            <div class="swiper-container main-info__slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="main-info__item">
                            <a href="#" class="main-info__item--title">СевГУ открывает представительство в Тартусе —
                                Дмитрий Саблин</a>
                            <p>Профстажировки — совместный проект Общероссийского народного фронта и платформы
                                “Россия-страна возможностей”...</p>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="main-info__item">
                            <a href="#" class="main-info__item--title">В ГПИ посадили еще одно красивое дерево</a>
                            <p>Профстажировки — совместный проект Общероссийского народного фронта и платформы
                                “Россия-страна возможностей”...</p>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="main-info__item">
                            <a href="#" class="main-info__item--title">СевГУ открывает представительство в Тартусе —
                                Дмитрий Саблин</a>
                            <p>Профстажировки — совместный проект Общероссийского народного фронта и платформы
                                “Россия-страна возможностей”...</p>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="main-info__item">
                            <a href="#" class="main-info__item--title">СевГУ открывает представительство в Тартусе —
                                Дмитрий Саблин</a>
                            <p>Профстажировки — совместный проект Общероссийского народного фронта и платформы
                                “Россия-страна возможностей”...</p>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="main-info__item">
                            <a href="#" class="main-info__item--title">В ГПИ посадили еще одно красивое дерево</a>
                            <p>Профстажировки — совместный проект Общероссийского народного фронта и платформы
                                “Россия-страна возможностей”...</p>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="main-info__item">
                            <a href="#" class="main-info__item--title">СевГУ открывает представительство в Тартусе —
                                Дмитрий Саблин</a>
                            <p>Профстажировки — совместный проект Общероссийского народного фронта и платформы
                                “Россия-страна возможностей”...</p>
                        </div>
                    </div>

                    <div class="swiper-slide">
                        <div class="main-info__item">
                            <a href="#" class="main-info__item--title">СевГУ открывает представительство в Тартусе —
                                Дмитрий Саблин</a>
                            <p>Профстажировки — совместный проект Общероссийского народного фронта и платформы
                                “Россия-страна возможностей”...</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-button-next main-info__next"></div>
            <div class="swiper-button-prev main-info__prev"></div>

            <div class="swiper-pagination main-info__pagination"></div>
        </div>
    </div>
</div>
