.main-info {
    margin-bottom: 76px;
    @media screen and (max-width: 992px) {
        margin-bottom: 64px;
    }

    &__wrap {
        position: relative;

        &:after {
            @include before;
            width: 93px;
            height: 370px;
            position: absolute;
            top: 0;
            right: -10px;
            background: linear-gradient(270deg, rgba(0, 85, 213, 0.2) 0%, rgba(0, 85, 213, 0) 74.07%);
            opacity: 0.6;
            backdrop-filter: blur(50px);
            border-radius: 16px;
            display: none;
            @media screen and (max-width: 576px) {
                display: block;
            }
        }
    }

    .swiper-slide {
        height: auto;
        @media screen and (max-width: 768px) {

        }
    }

    &__slider {
        @media screen and (max-width: 576px) {
            height: 370px;
        }
    }

    &__item {
        border-right: 3px solid $blue-color2;
        height: 160px;
        padding: 5px 30px 5px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media screen and (max-width: 768px) {
            padding: 5px 5px 5px 0;
            border-right-width: 2px;
        }
        @media screen and (max-width: 576px) {
            border-right: none;
            padding-right: 0;
        }

        &--title {
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            text-decoration: none;
            color: $blue-color2;
            @extend %h4;
            font-weight: 700;
            line-height: 26px;
            margin-bottom: 16px;
            @media screen and (max-width: 992px) {
                font-size: 18px;
            }
            @media screen and (max-width: 576px) {
                line-height: 24px;
            }

            &:hover {
                text-decoration: none;
                color: $blue-hover;
            }
        }

        p {
            font-size: 16px;
            line-height: 21px;
            color: $text-color;
            margin-bottom: 0;
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }
    }

    &__next, &__prev {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        @media screen and (max-width: 576px) {
            display: none;
        }
    }

    &__next {
        left: auto;
        right: -30px;
    }

    &__prev {
        right: auto;
        left: -30px;
    }

    &__pagination {
        justify-content: flex-end;
        margin: 16px 0 0 auto;
        right: 0;
    }
}

/*

*/
