.page {
    font-family: $font-MyriadPro;
    padding-bottom: 38px;

    &__text {
        p {
            @extend %text16;
            margin-bottom: 12px;
            color: $text-color;
        }

        ul:not([class]) {
            @include nl;
            margin-bottom: 0;

            li {
                margin-bottom: 12px;
                @extend %text16;
                line-height: 20px;
                color: $text-color;
                display: flex;

                &:before {
                    @include before;
                    height: 8px;
                    width: 8px;
                    border-radius: 50%;
                    background-color: $text-color;
                    flex-shrink: 0;
                    margin: 6px 8px;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.rector {
    &-block {
        display: block;
        margin-bottom: 48px;
        @media screen and (max-width: 576px) {
            margin-bottom: 32px;
        }

        h4 {
            @extend %h4;
            color: $blue-color;
            margin-bottom: 18px;
        }
    }

    &__main {
        align-items: flex-start;
        margin-bottom: 12px;
        @media screen and (max-width: 992px) {
            display: block !important;
        }
        @media screen and (max-width: 768px) {
            display: flex !important;
            flex-direction: column;
            margin-bottom: 20px;
        }

        img {
            flex-shrink: 0;
            width: 360px;
            display: inline-block;
            float: left;
            margin: 0 30px 30px 0;
            @media screen and (max-width: 992px) {
                width: 329px;
                margin: 0 30px 12px 0;
            }
            @media screen and (max-width: 768px) {
                width: 100%;
                margin-bottom: 32px;
                display: block;
            }
        }
    }

    &__name {
        @extend %h3;
        padding: 15px 20px 10px;
        color: $white-color;
        margin-bottom: 24px;
        background-color: #4178CB;

        @media screen and (max-width: 992px) {
            padding: 15px 9px;
        }
        @media screen and (max-width: 576px) {
            padding: 14px 6px;
        }
    }
}

.panorama {
    margin: 16px 0 64px;
    position: relative;
    padding-bottom: 45.9%;

    &__wrap {
        @include pos-absolute;
        @include full;
        overflow: hidden;

        img {
            @include pos-absolute;
            @include full-img;
        }
    }
}

.page-news {
    height: 197px;
    margin-bottom: 30px;
    @media screen and (max-width: 992px) {
        height: 216px;
    }
    @media screen and (max-width: 576px) {
        flex-direction: column;
        height: auto;
    }

    &__media {
        height: 100%;
        overflow: hidden;
        width: 360px;
        position: relative;
        z-index: 2;
        flex-shrink: 0;
        @media screen and (max-width: 992px) {
            width: 210px;
        }
        @media screen and (max-width: 576px) {
            padding-bottom: 75%;
            height: auto;
            width: 100%;
        }

        img {
            @include pos-absolute;
            @include full-img;
        }
    }

    &__type {
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 2;
        font-weight: normal;
        font-size: 12px;
        line-height: 16px;
        text-align: center;
        color: $white-color;
        padding: 4px 40px;

        &.type-cooperation {
            background: linear-gradient(90deg, #253AC6 0%, #F13C3C 100%);
            opacity: 0.8;
        }

        &.type-study {
            background: linear-gradient(90deg, #9854DB 0%, #548ADB 100%);
            opacity: 0.8;
        }

        &.type-video {
            background: linear-gradient(90deg, #D23636 0%, #DB8D54 100%);
            opacity: 0.8;
        }
    }

    &__content {
        flex-grow: 1;
        background: $white-color;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
        box-sizing: border-box;
        padding: 24px 24px 18px;
        display: flex;
        flex-direction: column;
        @media screen and (max-width: 992px) {
            padding: 24px;
        }

        p {
            @extend %text16;
            line-height: 20px;
            color: $text-color;
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            margin-bottom: 0;
            @media screen and (max-width: 992px) {
                -webkit-line-clamp: 4;
            }
            @media screen and (max-width: 576px) {
                -webkit-line-clamp: 7;
            }
        }
    }

    &__title {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        @extend %h4;
        max-height: 44px;
        height: 44px;
        color: $blue-color2;
        margin-bottom: 5px;
        transition: all 0.25s;
        text-decoration: none;

        @media screen and (max-width: 576px) {
            margin-bottom: 10px;
            -webkit-line-clamp: 4;
            max-height: none;
            min-height: 44px;
            height: auto;
        }

        &:hover {
            color: $blue-hover;
            text-decoration: none;
        }
    }

    &__info {
        margin-bottom: 0;
        align-items: center;
        margin-top: auto;
        color: #767676;
        @extend %text14;
        @media screen and (max-width: 576px) {
            margin-top: 10px;
        }

        time {
            display: block;
            margin-right: 25px;
        }
    }

    &__view {
        align-items: center;
        margin-right: 15px;

        .icon {
            margin-right: 4px;
            flex-shrink: 0;
        }
    }

    &__like {
        align-items: center;

        .icon {
            flex-shrink: 0;
            margin-right: 4px;
        }
    }
}


.pagination {
    @include nl;
    margin-top: 32px;
    align-items: center;
    display: flex;
    justify-content: flex-end;

    .page-item {
        width: 34px;
        height: 34px;
        flex-shrink: 0;
        margin-right: 13px;
        font-size: 16px;
        display: flex;
        align-items: flex-end;
        color: $blue-color2;
        text-align: center;
        line-height: 1;
        justify-content: center;

        &:last-child {
            margin-right: 0;
        }

        &.active {
            .page-link {
                border-color: $blue-color2;;
                background-color: $blue-color2;
                font-weight: bold;
                color: $white-color;
            }
        }

        &-next, &-prev {
            @media screen and (max-width: 576px) {
                display: none !important;
            }
        }
    }

    .page-link {
        width: 34px;
        height: 34px;
        border: 1px solid $blue-color2;
        box-sizing: border-box;
        border-radius: 4px;
        font-size: 16px;
        line-height: 34px;
        text-align: center;
        color: $blue-color2;
        padding: 0;
        position: relative;
        transition: all 0.25s;

        span {
            display: block;
            position: absolute;
            @include center;
        }

        &:hover {
            border-color: $blue-hover;
            background-color: $blue-hover;
            color: $white-color;

            .icon-pagination-start {
                @include bg-svg($pagination-start-hover);
            }

            .icon-pagination-prev {
                @include bg-svg($pagination-prev-hover);
            }

            .icon-pagination-next {
                @include bg-svg($pagination-next-hover);
            }

            .icon-pagination-end {
                @include bg-svg($pagination-end-hover);
            }
        }
    }
}
