{{> header/header}}

<div class="page">
    <div class="container">
        <div class="breadcrumb">
            <ul class="breadcrumb__list">
                <li>
                    <a href="index.html"><span>Главная</span></a>
                </li>
                <li>
                    <a href="index.html">Университет</a>
                </li>
                <li>Наблюдательный совет</li>
            </ul>
        </div>

        <div class="page__title">
            <h1>Страница ректора</h1>
        </div>

        <div class="row page__text">
            <div class="col-12">
                <div class="d-flex rector__main">
                    <img src="static/img/content/rector.png" alt="">

                    <div class="rector__text">
                        <div class="rector__name">
                            <span>Нечаев Владимир Дмитриевич</span>
                        </div>

                        <p>Родился 20 декабря 1972, Суджа, Курской обл.</p>
                        <p>Российский политолог, доктор политических наук, доцент. С 2018 года — ректор Севастопольского
                            государственного университета. Председатель Севастопольского регионального отделения
                            Общероссийской общественно-государственной просветительской организации «Российское общество
                            „Знание“».</p>
                    </div>
                </div>

                <div class="rector-block">
                    <h4>Образование</h4>
                    <ul>
                        <li>1995 году — окончил с красным дипломом Курский государственный педагогический
                            университет по специальности "История".
                        </li>
                        <li>1998 защитил кандидатскую диссертацию по теме: «Региональный миф в политической культуре
                            современной России».
                        </li>
                        <li>2008 г. защитил докторскую диссертацию в Московском государственном университете им. М.
                            В. Ломоносова на соискание степени доктора политических наук по теме "Институциональная
                            организация местного самоуправления в постсоветской России".
                        </li>
                    </ul>
                </div>

                <div class="rector-block">
                    <h4>Профессиональный опыт</h4>
                    <ul>
                        <li>1999-2000 гг. – руководитель научного проекта Международного института
                            гуманитарно-политических исследований (Москва).
                        </li>
                        <li>2000-2005 гг. – завкафедрой государственного и муниципального управления НОУ ВПО
                            «Курский институт менеджмента, экономики и бизнеса», доцент кафедры государственного и
                            муниципального управления Курского государственного университета.
                        </li>
                        <li>2009—2015 гг. — ректор Московского государственного гуманитарного университета им. М. А.
                            Шолохова.
                        </li>
                        <li>2015—2017 гг. — первый проректор ФГБОУ ВО «Московский педагогический государственный
                            университет».
                        </li>
                        <li>С 28 марта 2017 г. по 25 декабря 2018 г. — исполняющий обязанности ректора
                            Севастопольского государственного университета.
                        </li>
                        <li>С 27 июня 2017 г. — председатель Севастопольского регионального отделения возрожденной
                            Общероссийской общественно-государственной просветительской организации "Российское
                            общество «Знание».
                        </li>
                        <li>С 26 декабря 2018 г. — ректор Севастопольского государственного университета.</li>
                    </ul>
                </div>

                <div class="rector-block">
                    <h4>Достижения</h4>
                    <p>Автор научных и учебно-методических работ, в том числе монографий: </p>
                    <ul>
                        <li>«Территориальная организация местного самоуправления в современной России: генезис и
                            институциональные эффекты». Курск, 2004
                        </li>
                        <li>«Институциональная организация местного самоуправления в постсоветской России: динамика и
                            институциональные эффекты». М., 2007,
                        </li>
                        <li>«Региональный миф в политической культуре современной России», М., 1999.</li>
                    </ul>
                </div>

                <div class="rector-block">
                    <p><b>Приемная:</b> <a href="tel:+7 (8692) 43-50-02">+7 (8692) 43-50-02</a></p>
                    <p><b>E-mail:</b> <a href="mailto:info@sevsu.ru">info@sevsu.ru</a></p>
                </div>

                <div class="panorama">
                    <div class="panorama__wrap">
                        <img src="static/img/content/360.png" alt="">
                    </div>
                </div>

                <div>
                    <div class="page__title">
                        <h2>Новости</h2>
                    </div>

                    <div class="d-flex page-news">
                        <div class="page-news__media">
                            <img src="static/img/content/page-news1.png" alt="">
                            <div class="page-news__type type-cooperation">Сотрудничество</div>
                        </div>

                        <div class="page-news__content">
                            <a href="#" class="page-news__title" title="">Первый год в России. Как учат иностранцев в
                                СевГУ</a>
                            <p>В этом году 20 выпускников подготовительных курсов сдали экзамены и получили сертификаты
                                о знании русского языка. Это студенты из Колумбии, Афганистана, Камеруна, Синегала, ЮАР,
                                Нигерии, Конго...В этом году 20 выпускников подготовительных курсов сдали экзамены и
                                получили сертификаты
                                о знании русского языка. Это студенты из Колумбии, Афганистана, Камеруна, Синегала, ЮАР,
                                Нигерии, Конго...</p>

                            <div class="d-flex page-news__info">
                                <time>09 июня 2020</time>
                                <div class="d-flex page-news__view">
                                    <div class="icon news-view"></div>
                                    670
                                </div>
                                <div class="d-flex page-news__like">
                                    <div class="icon news-like"></div>
                                    15
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex page-news">
                        <div class="page-news__media">
                            <img src="static/img/content/page-news2.png" alt="">
                            <div class="page-news__type type-study">Вне учебы</div>
                        </div>

                        <div class="page-news__content">
                            <a href="#" class="page-news__title" title="">Первый год в России. Как учат иностранцев в
                                СевГУ</a>
                            <p>В этом году 20 выпускников подготовительных курсов сдали экзамены и получили сертификаты
                                о знании русского языка. Это студенты из Колумбии, Афганистана, Камеруна, Синегала, ЮАР,
                                Нигерии, Конго...</p>

                            <div class="d-flex page-news__info">
                                <time>09 июня 2020</time>
                                <div class="d-flex page-news__view">
                                    <div class="icon news-view"></div>
                                    670
                                </div>
                                <div class="d-flex page-news__like">
                                    <div class="icon news-like"></div>
                                    15
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex page-news">
                        <div class="page-news__media">
                            <img src="static/img/content/page-news3.png" alt="">
                            <div class="page-news__type type-video">Видеоархив</div>
                        </div>

                        <div class="page-news__content">
                            <a href="#" class="page-news__title" title="">СевГУ направляет вторую археологическую
                                экспедицию к берегам Сирии</a>
                            <p>Более 120 подводных объектов в районе акватории острова Арвад у побережья сирийского
                                города Тартус обследует вторая подводно-археологическая экспедиция Севастопольского
                                госуниверситета.</p>

                            <div class="d-flex page-news__info">
                                <time>09 июня 2020</time>
                                <div class="d-flex page-news__view">
                                    <div class="icon news-view"></div>
                                    670
                                </div>
                                <div class="d-flex page-news__like">
                                    <div class="icon news-like"></div>
                                    15
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="d-flex page-news">
                        <div class="page-news__media">
                            <img src="static/img/content/page-news4.png" alt="">
                            <div class="page-news__type type-video">Видеоархив</div>
                        </div>

                        <div class="page-news__content">
                            <a href="#" class="page-news__title" title="">Первый год в России. Как учат иностранцев в
                                СевГУ</a>
                            <p>В этом году 20 выпускников подготовительных курсов сдали экзамены и получили сертификаты
                                о знании русского языка. Это студенты из Колумбии, Афганистана, Камеруна, Синегала, ЮАР,
                                Нигерии, Конго...</p>

                            <div class="d-flex page-news__info">
                                <time>09 июня 2020</time>
                                <div class="d-flex page-news__view">
                                    <div class="icon news-view"></div>
                                    670
                                </div>
                                <div class="d-flex page-news__like">
                                    <div class="icon news-like"></div>
                                    15
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <a href="#" class="button btn-blue ml-auto">Загрузить еще</a>
                    </div>

                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#">
                                <span class="icon-pagination-start"></span>
                            </a>
                        </li>

                        <li class="page-item page-item-prev">
                            <a class="page-link" href="#">
                                <span class="icon-pagination-prev"></span>
                            </a>
                        </li>

                        <li class="page-item">
                            <a class="page-link" href="#">1</a>
                        </li>

                        <li class="page-item active">
                            <a class="page-link" href="#">2</a>
                        </li>

                        <li class="page-item d-none d-sm-block">
                            <a class="page-link" href="#">3</a>
                        </li>

                        <li class="page-item d-none d-sm-block">
                            <a class="page-link" href="#">4</a>
                        </li>

                        <li class="page-item">...</li>

                        <li class="page-item">
                            <a class="page-link" href="#">12</a>
                        </li>

                        <li class="page-item page-item-next">
                            <a class="page-link" href="#">
                                <span class="icon-pagination-next"></span>
                            </a>
                        </li>

                        <li class="page-item">
                            <a class="page-link" href="#">
                                <span class="icon-pagination-end"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
