{{> main/main-slider/main-slider}}

<div class="main-cat">
    <div class="container">
        <div class="main-cat__slider">
            <div class="swiper-container main-cat-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" class="main-cat__item">ПРИЕМНАЯ КОМИССИЯ</a>
                    </div>

                    <div class="swiper-slide">
                        <a href="#" class="main-cat__item">СДАЕМ ЕГЭ!</a>
                    </div>

                    <div class="swiper-slide">
                        <a href="#" class="main-cat__item">ИНТЕРАКТИВНЫЙ ТУР</a>
                    </div>

                    <div class="swiper-slide">
                        <a href="#" class="main-cat__item">ПРИЕМНАЯ КОМИССИЯ</a>
                    </div>

                    <div class="swiper-slide">
                        <a href="#" class="main-cat__item">СДАЕМ ЕГЭ!</a>
                    </div>

                    <div class="swiper-slide">
                        <a href="#" class="main-cat__item">ИНТЕРАКТИВНЫЙ ТУР</a>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev main-cat-prev"></div>
            <div class="swiper-button-next main-cat-next"></div>
        </div>
    </div>
</div>

<div class="main-count">
    <div class="container">
        <div class="d-flex main-count__wrap">
            <div class="main-count__item">
                12 245
                <span>студентов</span>
            </div>
            <div class="main-count__item">
                431
                <span>преподавателя</span>
            </div>
            <div class="main-count__item">
                14
                <span>корпусов</span>
            </div>
            <div class="main-count__item">
                246
                <span>специальностей</span>
            </div>
        </div>
    </div>
</div>

{{> main/main-announcement/main-announcement}}

{{> main/main-info/main-info}}

<div class="main-news">
    <div class="container">
        <div class="title-block">
            <h2>НОВОСТИ</h2>
        </div>

        <div class="row">
            <div class="col-lg-4 col-sm-6 news-item">
                <a href="news.html" class="news-item__block">
                    <div class="news-item__image">
                        <img src="static/img/content/news1.png" alt="">
                    </div>

                    <div class="news-item__content">
                        <div class="news-item__date">
                            17
                            <span>марта</span>
                        </div>

                        <h3>75 лет после Победы.
                            Год 2006-й</h3>
                        <p>Россия первый раз председательствовала
                            в «Большой восьмерке» в 2006 году, главным достижением руководства страны считалось то, что
                            с Россией ведущие мировые державы начали диалог на равных.</p>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-sm-6 news-item">
                <a href="news.html" class="news-item__block">
                    <div class="news-item__image">
                        <img src="static/img/content/news2.png" alt="">
                    </div>

                    <div class="news-item__content">
                        <div class="news-item__date">
                            17
                            <span>марта</span>
                        </div>

                        <h3>Двадцать внутренних научных грантов СевГУ - 2020 утверждены </h3>
                        <p>Россия первый раз председательствовала
                            в «Большой восьмерке» в 2006 году, главным достижением руководства страны считалось то, что
                            с Россией ведущие мировые державы начали диалог на равных.</p>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-sm-6 news-item">
                <a href="news.html" class="news-item__block">
                    <div class="news-item__image">
                        <img src="static/img/content/news3.png" alt="">
                    </div>

                    <div class="news-item__content">
                        <div class="news-item__date">
                            17
                            <span>марта</span>
                        </div>

                        <h3>Двадцать внутренних научных грантов СевГУ</h3>
                        <p>Россия первый раз председательствовала
                            в «Большой восьмерке» в 2006 году, главным достижением руководства страны считалось то, что
                            с Россией ведущие мировые державы начали диалог на равных.</p>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-sm-6 news-item">
                <a href="news.html" class="news-item__block">
                    <div class="news-item__image">
                        <img src="static/img/content/news1.png" alt="">
                    </div>

                    <div class="news-item__content">
                        <div class="news-item__date">
                            17
                            <span>марта</span>
                        </div>

                        <h3>75 лет после Победы.
                            Год 2006-й</h3>
                        <p>Россия первый раз председательствовала
                            в «Большой восьмерке» в 2006 году, главным достижением руководства страны считалось то, что
                            с Россией ведущие мировые державы начали диалог на равных.</p>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-sm-6 news-item">
                <a href="news.html" class="news-item__block">
                    <div class="news-item__image">
                        <img src="static/img/content/news2.png" alt="">
                    </div>

                    <div class="news-item__content">
                        <div class="news-item__date">
                            17
                            <span>марта</span>
                        </div>

                        <h3>Двадцать внутренних научных грантов СевГУ - 2020 утверждены </h3>
                        <p>Россия первый раз председательствовала
                            в «Большой восьмерке» в 2006 году, главным достижением руководства страны считалось то, что
                            с Россией ведущие мировые державы начали диалог на равных.</p>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-sm-6 news-item">
                <a href="news.html" class="news-item__block">
                    <div class="news-item__image">
                        <img src="static/img/content/news3.png" alt="">
                    </div>

                    <div class="news-item__content">
                        <div class="news-item__date">
                            17
                            <span>марта</span>
                        </div>

                        <h3>Двадцать внутренних научных грантов СевГУ</h3>
                        <p>Россия первый раз председательствовала
                            в «Большой восьмерке» в 2006 году, главным достижением руководства страны считалось то, что
                            с Россией ведущие мировые державы начали диалог на равных.</p>
                    </div>
                </a>
            </div>
        </div>

        <div>
            <a href="news.html" class="button btn-blue ml-auto">ВСЕ НОВОСТИ</a>
        </div>
    </div>
</div>

<div class="main-video">
    <div class="container">
        <div class="title-block">
            <h2>ВИДЕОАРХИВ</h2>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-6 video-item video-main">
                <div class="video-item__block">
                    <div class="video-item__video">
                        <img src="static/img/content/video1.png" alt="">
                        <div class="video-item__play"></div>
                    </div>

                    <div class="video-item__content">
                        <a href="#" class="video-item__title">День рождения СевГУ.<br>
                            Как это было.</a>
                        <p>Студенты института занимаются научно-практической деятельностью, успешно участвуют во
                            всероссийских и международных конкурсах, олимпиадах и соревнованиях, регулярно занимая
                            призовые<br>
                            места. Вне учебы свой творческий потенциал они могут реализовать в вокальных, танцевальных,
                            театральных студиях и команде КВН института</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 video-item">
                <div class="video-item__block">
                    <div class="video-item__video">
                        <img src="static/img/content/video2.png" alt="">
                        <div class="video-item__play"></div>
                    </div>

                    <div class="video-item__content">
                        <a href="#" class="video-item__title">Диалог с листа. 3 выпуск.
                            Станислав Васильев</a>
                        <p>Россия первый раз председательствовала
                            в «Большой восьмерке» в 2006 году, главным достижением руководства страны считалось то, что
                            с
                            Россией ведущие мировые державы начали...</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 video-item">
                <div class="video-item__block">
                    <div class="video-item__video">
                        <img src="static/img/content/video3.png" alt="">
                        <div class="video-item__play"></div>
                    </div>

                    <div class="video-item__content">
                        <a href="#" class="video-item__title">Диалог с листа. 3 выпуск.
                            Станислав Васильев</a>
                        <p>Россия первый раз председательствовала
                            в «Большой восьмерке» в 2006 году, главным достижением руководства страны считалось то, что
                            с
                            Россией ведущие мировые державы начали...</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 video-item d-none d-lg-block">
                <div class="video-item__block">
                    <div class="video-item__video">
                        <img src="static/img/content/video4.png" alt="">
                        <div class="video-item__play"></div>
                    </div>

                    <div class="video-item__content">
                        <a href="#" class="video-item__title">Диалог с листа. 3 выпуск.
                            Станислав Васильев</a>
                        <p>Россия первый раз председательствовала
                            в «Большой восьмерке» в 2006 году, главным достижением руководства страны считалось то, что
                            с
                            Россией ведущие мировые державы начали...</p>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <a href="#" class="button btn-blue ml-auto">ВСЕ ВИДЕО</a>
        </div>
    </div>
</div>

{{> main/main-partners/main-partners}}
