.main-cat {
    margin-top: -30px;
    padding-bottom: 60px;
    @media screen and (max-width: 768px) {
        margin-top: -20px;
        padding-bottom: 40px;
    }

    &-prev, &-next {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
    }
    &-next {
        right: -15px;
        @media screen and (max-width: 576px) {
            right: 2px;
        }
    }

    &-prev {
        left: -15px;
        @media screen and (max-width: 576px) {
            left: 2px;
        }
    }

    &__slider {
        position: relative;
        margin: 0 -15px 0;
        @media screen and (max-width: 992px) {
            margin: 0 -10px 0;
        }
        @media screen and (max-width: 576px) {
            margin: 0 -15px 0 !important;
        }
    }

    .swiper-wrapper {
        padding: 15px !important;
        @media screen and (max-width: 992px) {
            padding: 10px !important;
        }
        @media screen and (max-width: 576px) {
            padding: 15px !important;
        }
    }

    .swiper-slide {
        width: 360px;
        @media screen and (max-width: 1200px) {
            width: 290px;
        }
        @media screen and (max-width: 992px) {
            width: 215px;
        }
        @media screen and (max-width: 768px) {
            width: 248px;
        }
        @media screen and (max-width: 576px) {
            width: calc(100% - 50px) !important;
            margin: 0 15px 0 10px !important;
        }
    }

    &__item {
        display: block;
        background-color: $white-color;
        height: 84px;
        box-shadow: 0px 0px 16px rgba(35, 56, 129, 0.25);
        border-radius: 8px;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;
        color: #26358C;
        text-transform: uppercase;
        padding: 28px 0;
        width: 100%;
        transition: all 0.25s;
        @media screen and (max-width: 992px) {
            height: 68px;
            font-size: 16px;
            line-height: 20px;
            padding: 26px 0;
            box-shadow: 0px 0px 10px rgba(35, 56, 129, 0.25);
        }
        @media screen and (max-width: 768px) {
            font-size: 14px;
        }

        &:hover {
            text-decoration: none;
            box-shadow: 0px 0px 16px rgba(35, 56, 129, 0.5);
        }
    }
}


.main-count {
    margin-bottom: 70px;

    &__wrap {
        background: $white-color;
        border: 1px solid $border-color;
        box-sizing: border-box;
        box-shadow: 0px 0px 16px rgba(35, 56, 129, 0.25);
        border-radius: 16px;
        align-items: flex-start;
        justify-content: space-between;
        padding: 23px 50px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 103% auto;
        background-image: url("../img/content/wave.svg");
        @media screen and (max-width: 992px) {
            padding: 30px 30px 20px;
            background-size: 150% auto;
        }
        @media screen and (max-width: 768px) {
            flex-wrap: wrap;
            padding: 32px 20px;
        }
    }

    &__item {
        flex-shrink: 0;
        text-align: center;
        font-style: normal;
        font-weight: bold;
        font-size: 46px;
        line-height: 48px;
        color: $blue-color2;

        @media screen and (max-width: 992px) {
            font-size: 42px;
            line-height: 48px;
        }
        @media screen and (max-width: 768px) {
            width: 50%;
            font-size: 38px;
            line-height: 48px;
        }

        &:nth-child(1), &:nth-child(2) {
            @media screen and (max-width: 768px) {
                margin-bottom: 45px;
            }
        }

        span {
            display: block;
            margin-top: 3px;
            font-weight: bold;
            font-size: 20px;
            line-height: 24px;
            @media screen and (max-width: 992px) {
                font-size: 18px;
                line-height: 24px;
                margin-top: 0;
            }
            @media screen and (max-width: 768px) {
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
}


.main-news {
    padding: 20px 0;

    .btn-blue {
        @media screen and (max-width: 576px) {
            margin: auto !important;
        }
    }
}

.main-video {
    padding: 20px 0;

    .btn-blue {
        @media screen and (max-width: 576px) {
            margin: auto !important;
        }
    }
}

.news-item {
    margin-bottom: 30px;

    $f: &;

    &__block {
        height: 100%;
        background: $white-color;
        box-shadow: 0px 0px 16px rgba(38, 53, 140, 0.3);
        border-radius: 16px;
        display: block;
        text-decoration: none;
        transition: all 0.25s;

        &:hover {
            text-decoration: none;
            box-shadow: 0px 0px 16px rgba(38, 53, 140, 0.5);

            #{$f}__content {
                h3 {
                    color: $blue-color;
                }
            }
        }
    }

    &__image {
        position: relative;
        border-radius: 16px 16px 0 0;
        overflow: hidden;
        padding-bottom: 74%;
        margin-bottom: 30px;

        &:after {
            content: '';
            display: block;
            @include full;
            @include pos-absolute;
            background-size: 110% auto;
            background-position: top center;
            background-repeat: no-repeat;
            background-image: url("../img/content/news-wave.png");
            z-index: 1;
        }

        img {
            @include pos-absolute;
            @include full-img;
        }
    }

    &__date {
        position: absolute;
        z-index: 2;
        width: 74px;
        height: 74px;
        background: $white-color;
        box-shadow: 0px 0px 16px rgba(35, 56, 129, 0.25);
        border-radius: 16px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        right: 35px;
        top: -90px;
        font-size: 36px;
        line-height: 28px;
        color: $blue-color3;
        @media screen and (max-width: 576px) {
            right: 15px;
        }

        span {
            margin-top: 7px;
            display: block;
            font-weight: bold;
            font-size: 12px;
            line-height: 12px;
        }
    }

    &__content {
        padding: 0 24px 30px;
        position: relative;
        @media screen and (max-width: 768px) {
            padding: 0 15px 25px;
        }

        h3 {
            color: $blue-color2;
            font-weight: 600;
            font-size: 19px;
            line-height: 26px;
            margin-bottom: 10px;
            letter-spacing: -0.01em;
            transition: all 0.25s;
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }

        p {
            @extend %text16;
            margin-bottom: 0;
            color: $text-color2;
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 6;
            -webkit-box-orient: vertical;

            @media screen and (max-width: 576px) {
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
}

.video-item {
    margin-bottom: 30px;

    $f: &;

    &__block {
        height: 100%;
        background: $white-color;
        box-shadow: 0px 0px 16px rgba(35, 56, 129, 0.25);
        border-radius: 16px;
        transition: all 0.25s;

        &:hover {
            text-decoration: none;
            box-shadow: 0px 0px 16px rgba(35, 56, 129, 0.5);
        }
    }

    &__video {
        position: relative;
        padding-bottom: 69.4%;
        overflow: hidden;
        border-radius: 16px 16px 0 0;

        img {
            @include pos-absolute;
            @include full-img;
        }
    }

    &__play {
        position: absolute;
        @include center;
        width: 88px;
        height: 59px;
        background: linear-gradient(112.72deg, rgba(7, 1, 82, 0.73) -7.01%, rgba(37, 151, 215, 0.4745) 136.69%);
        border: 1px solid $blue-color;
        box-sizing: border-box;
        border-radius: 15px;
        cursor: pointer;
        transition: all 0.25s;

        &:hover {
            transform: scale(1.05);
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            @include center;
            height: 36px;
            width: 36px;
            @include bg-svg($play);
        }
    }

    &__content {
        padding: 16px 25px 25px;
        background-color: $white-color;
        border-radius: 0 0 16px 16px;
        @media screen and (max-width: 992px) {
            padding: 20px 15px 25px;
        }

        p {
            @extend %text16;
            line-height: 20px;
            margin-bottom: 0;
            color: $text-color2;
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 6;
            -webkit-box-orient: vertical;
            @media screen and (max-width: 992px) {
                -webkit-line-clamp: 5;
            }
            @media screen and (max-width: 576px) {
                font-size: 14px;
                -webkit-line-clamp: 8;
            }
        }
    }

    &__title {
        color: $blue-color2;
        font-weight: 600;
        font-size: 19px;
        line-height: 25px;
        margin-bottom: 5px;
        letter-spacing: -0.01em;
        transition: all 0.25s;
        text-decoration: none;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;

        @media screen and (max-width: 576px) {
            -webkit-line-clamp: 3;
        }

        &:hover {
            text-decoration: none;
            color: $blue-color;
        }
    }

    &.video-main {
        min-height: 243px;
        @media screen and (max-width: 992px) {
            min-height: 224px;
        }

        #{$f}__block {
            display: flex;
            @media screen and (max-width: 768px) {
                flex-direction: column;
            }
        }

        #{$f}__video {
            flex-shrink: 0;
            width: 360px;
            height: 100%;
            padding-bottom: 0;
            border-radius: 16px 0 0 16px;
            @media screen and (max-width: 992px) {
                width: 330px;
            }
            @media screen and (max-width: 768px) {
                height: auto;
                width: 100%;
                padding-bottom: 69.4%;
                overflow: hidden;
                border-radius: 16px 16px 0 0;

                img {
                    @include pos-absolute;
                    @include full-img;
                }
            }
        }

        #{$f}__content {
            border-radius: 0 16px 16px 0;
            padding: 30px;
            @media screen and (max-width: 992px) {
                padding: 30px 20px 24px 30px;
            }

            @media screen and (max-width: 768px) {
                border-radius: 0 0 16px 16px;
                padding: 20px 15px 25px;
            }
            p {
                -webkit-line-clamp: 5;
                @media screen and (max-width: 576px) {
                    -webkit-line-clamp: 8;
                }
            }
        }

        #{$f}__title {
            font-size: 28px;
            line-height: 28px;
            margin-bottom: 10px;
            @media screen and (max-width: 1200px) {
                font-size: 26px;
                line-height: 28px;
            }

            @media screen and (max-width: 768px) {
                font-size: 19px;
                line-height: 25px;
                margin-bottom: 5px;
                letter-spacing: -0.01em;
            }
        }
    }
}


.breadcrumb {
    background-color: transparent;
    border-radius: 0;
    padding: 0;
    margin: 24px 0 36px;
    @media screen and (max-width: 992px) {
        margin: 24px 0 28px;
    }
    @media screen and (max-width: 576px) {
        margin: 24px 0 20px;
    }

    &__list {
        @include nl;
        display: flex;
        align-items: center;
        @media screen and (max-width: 576px) {
            flex-wrap: wrap;
        }

        li {
            margin-left: 24px;
            font-size: 16px;
            line-height: 20px;
            color: $gray-color;
            position: relative;
            margin-right: 8px;
            margin-bottom: 4px;

            &:after {
                @include before;
                position: absolute;
                top: 1px;
                bottom: 0;
                margin: auto;
                left: -24px;
                width: 16px;
                height: 16px;
                text-align: center;
                @include bg-svg($chevron-right);
            }

            &:first-child {
                margin-left: 0;

                &:after {
                    display: none;
                }

                @media screen and (max-width: 576px) {
                    a span {
                        display: none;
                        @include bg-svg($icon-home);
                    }

                    a {
                        width: 24px;
                        height: 24px;
                        @include bg-svg($icon-home);
                    }
                }
            }
        }

        li a {
            font-size: 16px;
            line-height: 20px;
            display: block;
            color: $gray-color;
            text-decoration: none;
            cursor: pointer;

            &:hover {
                color: $blue-color;
                text-decoration: none;
            }
        }
    }
}
