.main-announcement {
    margin-bottom: 23px;
    @media screen and (max-width: 992px) {
        margin-bottom: 60px;
    }

    .btn-blue {
        @media screen and (max-width: 576px) {
            margin: auto !important;
        }
    }

    $f: &;

    .nav-pills {
        margin-bottom: 34px;
        @media screen and (max-width: 576px) {
            justify-content: space-between;
        }

        .nav-item {
            margin-right: 45px;
            padding: 0;
            @media screen and (max-width: 992px) {
                margin-right: 13px;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        .nav-link {
            @extend %h2;
            padding: 0;
            background-color: transparent;
            letter-spacing: 0.0112em;
            color: rgba(35, 56, 129, 0.4);
            text-transform: uppercase;
            transition: all 0.25s;
            @media screen and (max-width: 576px) {
                letter-spacing: -0.0112em;
            }

            &:hover {
                color: $blue-color;
                text-decoration: none;
            }

            &.active {
                color: $blue-color;
            }
        }
    }

    &__wrap {
        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
    }

    &__calendar {
        width: 263px;
        flex-shrink: 0;
        margin-right: 30px;
        @media screen and (max-width: 992px) {
            margin-right: 28px;
        }
        @media screen and (max-width: 768px) {
            width: 100%;
            margin-right: 0;
            margin-bottom: 25px;
        }

        .datepicker {
            height: 325px;
            width: 100%;
            box-shadow: 0px 0px 16px rgba(35, 56, 129, 0.25);
            border-radius: 16px;
            background-image: url("../img/content/calendar-bg.png");
            background-position: center bottom;
            background-size: cover;
            background-repeat: no-repeat;
            box-sizing: border-box;
            border: none;

            @media screen and (max-width: 768px) {
                width: 263px;
                margin: auto;
            }

            &--nav {
                padding: 30px 15px 15px;
                border-bottom: none;

                &-title {
                    @extend %h4;
                    color: $blue-color2;

                    i {
                        color: $blue-color2;
                    }

                    &:hover {
                        background-color: rgba(104, 220, 250, 0.2);
                    }
                }
                &-action {
                    width: 30px;
                    height: 30px;
                    svg {
                        display: none;
                    }
                    &[data-action="next"] {
                        @include bg-svg($date-right);
                    }
                    &[data-action="prev"] {
                        @include bg-svg($date-left);
                    }

                    &:hover {
                        background-color: rgba(104, 220, 250, 0.2);
                    }
                }
            }

            &--content {
                padding: 0 15px 30px;
            }

            &--days-names {
                display: none;
            }

            &--cells {
                padding-left: 4px;
            }

            &--cell {
                font-size: 14px;
                line-height: 30px;
                height: 30px;
                letter-spacing: 0.0112em;
                color: $blue-color2;
                position: relative;
                width: 30px !important;
                border-radius: 50%;
                margin: 0 4px 4px;
                flex-shrink: 0;
                padding: 0;
                text-align: center;
                &.-selected- {
                    background: rgba(104, 220, 250, 0.2);
                }

                &.-other-month- {
                    opacity: 0;
                    height: 0;
                }

                &:hover {
                    background: rgba(104, 220, 250, 0.2);
                }
            }

            &--cell-month {
                width: 33% !important;
                margin: 0 !important;
                border-radius: 0 !important;
            }

            &--cell-year {
                width: 33% !important;
                margin: 0 !important;
                border-radius: 0 !important;
            }
        }
    }

    &__list {
        flex-grow: 1;
        margin-bottom: 30px;
        @media screen and (max-width: 992px) {
            margin-bottom: 7px;
        }

        @media screen and (max-width: 768px) {
            margin-bottom: 0;
        }
    }

    &__item {
        align-items: center;
        margin-bottom: 30px;
        text-decoration: none;
        @media screen and (max-width: 992px) {
            margin-bottom: 25px;
        }
        @media screen and (max-width: 576px) {
            align-items: flex-start;
            flex-direction: column;
        }

        &:hover {
            text-decoration: none;

            #{$f}__date {
                box-shadow: 0px 0px 16px rgba(35, 56, 129, 0.25);
            }

            #{$f}__more {
                font-weight: bold;
                // text-shadow: 0px 0.5px 0px rgba(35, 56, 129, 1);
            }
        }
    }

    &__date {
        flex-shrink: 0;
        background: $light-blue-color;
        border-radius: 16px;
        text-align: center;
        margin-right: 26px;
        width: 72px;
        height: 72px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 36px;
        line-height: 28px;
        color: $blue-color2;
        letter-spacing: 0.0084em;
        transition: all 0.25s;

        @media screen and (max-width: 992px) {
            width: 58px;
            height: 58px;
            font-size: 24px;
            line-height: 1;
            margin-right: 20px;
        }

        @media screen and (max-width: 576px) {
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 12px;
            width: 100%;
            border-radius: 0 12px 12px 0;
            position: relative;
            height: 32px;
            font-size: 24px;
            line-height: 32px;

            &:before {
                @include before;
                width: 15px;
                height: 100%;
                @include pos-absolute;
                left: -15px;
                background: $light-blue-color;
                border-radius: 12px 0 0 0;
            }
        }

        span {
            margin-top: 7px;
            display: block;
            font-weight: bold;
            font-size: 12px;
            line-height: 12px;
            @media screen and (max-width: 992px) {
                margin-top: 2px;
            }
            @media screen and (max-width: 576px) {
                margin-left: 6px;
                margin-top: 0;
            }
        }
    }

    &__content {
        h4 {
            @extend %h4;
            font-weight: 700;
            color: $blue-color2;
            margin-bottom: 2px;
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            @media screen and (max-width: 992px) {
                -webkit-line-clamp: 2;
                margin-bottom: 4px;
            }
        }

        p {
            @extend %text16;
            line-height: 21px;
            color: $text-color2;
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            margin-bottom: 0;
            @media screen and (max-width: 992px) {
                font-size: 14px;
                line-height: 18px;
            }
        }
    }

    &__more {
        transition: all 0.25s;
        font-weight: normal;
        @extend %text12;
        line-height: 21px;
        color: $blue-hover;
    }
}
