<div class="main-announcement">
    <div class="container">
        <ul class="nav nav-pills" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                   aria-controls="pills-home" aria-selected="true">АНОНСЫ</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                   aria-controls="pills-profile" aria-selected="false">ОБЪЯВЛЕНИЯ</a>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="d-flex main-announcement__wrap">
                    <div class="main-announcement__calendar">
                        <div class="datepicker-here"></div>
                    </div>

                    <div class="main-announcement__list">
                        <a href="#" class="d-flex main-announcement__item">
                            <div class="main-announcement__date">
                                11
                                <span>марта</span>
                            </div>
                            <div class="main-announcement__content">
                                <h4>Стартовал Всероссийский конкурс «Доброволец России — 2020» </h4>
                                <p>Профстажировки — совместный проект Общероссийского народного фронта и платформы
                                    “Россия-страна возможностей”, реализуемый при поддержке Министерства науки и высшего
                                    образования РФ.</p>
                                <div class="main-announcement__more">Читать далее...</div>
                            </div>
                        </a>

                        <a href="#" class="d-flex main-announcement__item">
                            <div class="main-announcement__date">
                                15
                                <span>марта</span>
                            </div>
                            <div class="main-announcement__content">
                                <h4>Стартовал Всероссийский конкурс «Доброволец России — 2020» </h4>
                                <p>Профстажировки — совместный проект Общероссийского народного фронта и платформы
                                    “Россия-страна возможностей”, реализуемый при поддержке Министерства науки и высшего
                                    образования РФ.</p>
                                <div class="main-announcement__more">Читать далее...</div>
                            </div>
                        </a>

                        <a href="#" class="d-flex main-announcement__item">
                            <div class="main-announcement__date">
                                17
                                <span>марта</span>
                            </div>
                            <div class="main-announcement__content">
                                <h4>Стартовал Всероссийский конкурс «Доброволец России — 2020» </h4>
                                <p>Профстажировки — совместный проект Общероссийского народного фронта и платформы
                                    “Россия-страна возможностей”, реализуемый при поддержке Министерства науки и высшего
                                    образования РФ.</p>
                                <div class="main-announcement__more">Читать далее...</div>
                            </div>
                        </a>
                    </div>
                </div>

                <div>
                    <a href="announcements.html" class="button btn-blue ml-auto">ВСЕ СОБЫТИЯ</a>
                </div>
            </div>

            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div class="d-flex main-announcement__wrap">
                    <div class="main-announcement__calendar">
                        <div class="datepicker-here"></div>
                    </div>

                    <div class="main-announcement__list">
                        <a href="#" class="d-flex main-announcement__item">
                            <div class="main-announcement__date">
                                11
                                <span>марта</span>
                            </div>
                            <div class="main-announcement__content">
                                <h4>Стартовал Всероссийский конкурс «Доброволец России — 2020» </h4>
                                <p>Профстажировки — совместный проект Общероссийского народного фронта и платформы
                                    “Россия-страна возможностей”, реализуемый при поддержке Министерства науки и высшего
                                    образования РФ.</p>
                                <div class="main-announcement__more">Читать далее...</div>
                            </div>
                        </a>

                        <a href="#" class="d-flex main-announcement__item">
                            <div class="main-announcement__date">
                                15
                                <span>марта</span>
                            </div>
                            <div class="main-announcement__content">
                                <h4>Стартовал Всероссийский конкурс «Доброволец России — 2020» </h4>
                                <p>Профстажировки — совместный проект Общероссийского народного фронта и платформы
                                    “Россия-страна возможностей”, реализуемый при поддержке Министерства науки и высшего
                                    образования РФ.</p>
                                <div class="main-announcement__more">Читать далее...</div>
                            </div>
                        </a>

                        <a href="#" class="d-flex main-announcement__item">
                            <div class="main-announcement__date">
                                17
                                <span>марта</span>
                            </div>
                            <div class="main-announcement__content">
                                <h4>Стартовал Всероссийский конкурс «Доброволец России — 2020» </h4>
                                <p>Профстажировки — совместный проект Общероссийского народного фронта и платформы
                                    “Россия-страна возможностей”, реализуемый при поддержке Министерства науки и высшего
                                    образования РФ.</p>
                                <div class="main-announcement__more">Читать далее...</div>
                            </div>
                        </a>
                    </div>
                </div>

                <div>
                    <a href="announcements.html" class="button btn-blue ml-auto">ВСЕ ОБЪЯВЛЕНИЯ</a>
                </div>
            </div>
        </div>
    </div>
</div>
