<div class="aside-contact">
    <div class="aside-contact__header">Контакты</div>
    <div class="aside-contact__body">
        <div class="aside-contact__item">
            <p><b>Институт находится по адресу:</b></p>
            <p>г. Севастополь, ул. Курчатова, 7</p>
        </div>

        <div class="aside-contact__item">
            <p><b>Директор института</b></p>
            <p>Омельчук Юлия Аркадьевна</p>
            <a href="tel:+7(8692)71-01-64" class="phone">
                <div class="icon icon-phone"></div>
                +7(8692)71-01-64</a>
            <a href="mailto:j.a.omelchuk@sevsu.ru" class="mail">
                <div class="icon icon-mail"></div>
                j.a.omelchuk@sevsu.ru</a>
            <p>каб. № 224</p>
        </div>

        <div class="aside-contact__item">
            <p><b>По вопросам абитуриентов</b></p>
            <p>Руденко Игорь Влерьевич</p>
            <a href="tel:+7 (978) 139-75-02" class="phone">
                <div class="icon icon-phone"></div>
                +7 (978) 139-75-02</a>
        </div>

        <div class="aside-contact__item">
            <p><b>Заместитель по учебно-научной работе</b></p>
            <p>Найдук Марина Романовна</p>
            <div class="d-flex line-link"><a href="tel:+7(8692)71-01-64" class="phone">
                <div class="icon icon-phone"></div>
                +7(8692) 71-01-64</a>,
                доб. (1243)
            </div>
            <a href="mailto:j.a.omelchuk@sevsu.ru" class="mail">
                <div class="icon icon-mail"></div>
                j.a.omelchuk@sevsu.ru</a>
            <p>каб. № 2247</p>
        </div>

        <div class="aside-contact__item">
            <p><b>Заместитель по учебно-научной работе</b></p>
            <p>Найдук Марина Романовна</p>
            <div class="d-flex line-link"><a href="tel:+7(8692)71-01-64" class="phone">
                <div class="icon icon-phone"></div>
                +7(8692) 71-01-64</a>,
                доб. (1243)
            </div>
            <a href="mailto:j.a.omelchuk@sevsu.ru" class="mail">
                <div class="icon icon-mail"></div>
                j.a.omelchuk@sevsu.ru</a>
            <p>каб. № 2247</p>
        </div>

        <div class="aside-contact__item">
            <p>Найдук Марина Романовна</p>
            <a href="mailto:NVMironyuk@sevsu.ru" class="mail">
                <div class="icon icon-mail"></div>
                NVMironyuk@sevsu.ru </a>
        </div>
    </div>
</div>
