.aside-menu {
    width: 100%;
    margin-bottom: 30px;
    @media screen and (max-width: 992px) {
        margin-bottom: 12px;
        border: 1px solid #E7E7E7;
    }

    &__header {
        display: none;
        padding: 16px 40px 16px 16px;
        position: relative;
        cursor: pointer;
        @extend %text16;
        letter-spacing: -0.01em;
        color: $blue-color2;
        font-weight: bold;
        background: rgba(242, 242, 242, 0.35);
        border-bottom: 1px solid #E7E7E7;

        @media screen and (max-width: 992px) {
            display: block;
        }

        &:after {
            @include before;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 12px;
            width: 24px;
            height: 24px;
            @include bg-svg($aside-arrow);
            margin: auto;
            transform: rotate(180deg);
        }
    }

    &__list {
        @include nl;
        border: 1px solid #E7E7E7;
        box-sizing: border-box;
        border-radius: 4px;
        @media screen and (max-width: 992px) {
            border: none;
        }

        li {
            border-bottom: 1px solid #E7E7E7;
            position: relative;
            padding: 18px 16px;

            &:before {
                @include before;
                @include pos-absolute;
                background-color: $blue-color;
                width: 6px;
                height: 100%;
                display: none;
            }

            &:last-child {
                border-bottom: none;
            }

            &.active {
                background-color: $light-blue-color;

                &:before {
                    display: block;
                }
            }
        }

        li a {
            font-weight: normal;
            font-size: 16px;
            line-height: 18px;
            letter-spacing: -0.03em;
            color: $text-color;
            text-decoration: none;
            transition: all 0.25s;

            &:hover {
                text-decoration: none;
                color: $blue-color;
            }
        }
    }

    &__main a {
        padding: 8px 0;
        display: flex;
        align-items: center;

        .icon-back {
            width: 18px;
            height: 18px;
            flex-shrink: 0;
            margin-right: 8px;
            @include bg-svg($icon-back);
        }
    }
}

.aside-contact {
    width: 100%;
    background: $white-color;
    border: 1px solid #E7E7E7;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 30px;
    $f: &;
    @media screen and (max-width: 992px) {
        margin-bottom: 0;
    }

    &.show {
        #{$f}__header {
            &:after {
                transform: rotate(0deg);
            }
        }

        #{$f}__body {
            opacity: 1;
            visibility: visible;
            height: auto;
        }
    }


    &__header {
        padding: 18px 40px 18px 16px;
        position: relative;
        cursor: pointer;
        @extend %text16;
        letter-spacing: -0.03em;
        color: $blue-color2;
        font-weight: bold;
        @media screen and (max-width: 992px) {
            background: rgba(242, 242, 242, 0.35);
            padding: 16px 40px 16px 16px;
        }

        &:after {
            @include before;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 12px;
            width: 24px;
            height: 24px;
            @include bg-svg($aside-arrow);
            margin: auto;
            transform: rotate(180deg);
        }
    }

    &__body {
        padding: 0 15px;
        border-top: 1px solid #E7E7E7;
        opacity: 0;
        visibility: hidden;
        height: 0;
        transition: all 0.25s;
    }

    &__item {
        padding: 18px 0 12px;
        border-bottom: 1px solid #E7E7E7;

        p {
            @extend %text16;
            color: $text-color;
            margin-bottom: 2px;
            letter-spacing: -0.03em;

            &:last-child {
                margin-bottom: 0;
            }
        }

        b {
            font-weight: 600;
        }

        .phone,
        .mail {
            display: flex;
            align-items: center;
            margin-bottom: 2px;
            color: $blue-color;
            text-decoration: underline;
            font-size: 16px;
            line-height: 22px;
            letter-spacing: -0.03em;
            transition: all 0.25s;

            &:hover {
                color: $blue-hover;
            }

            .icon {
                width: 17px;
                height: 16px;
                margin-right: 3px;
                flex-shrink: 0;
            }

            .icon-phone {
                @include bg-svg($mdi_phone);
            }

            .icon-mail {
                @include bg-svg($mdi_mail);
            }
        }

        .line-link {
            font-size: 16px;
            line-height: 22px;
            letter-spacing: -0.03em;
            flex-wrap: wrap;
            margin-bottom: 2px;
        }

        &:last-child {
            border-bottom: none;
        }
    }

}
