<div class="aside-menu">
    <div class="aside-menu__header">Кафедры</div>
    <ul class="aside-menu__list">
        <li class="aside-menu__main"><a href="#"><div class="icon-back"></div>Главная института</a></li>
        <li class="active"><a href="#">Ядерные энергетические установки</a></li>
        <li><a href="#">Системы контроля и управления атомных станций</a></li>
        <li><a href="#">Электроэнергетические системы атомных станций</a></li>
        <li><a href="#">Возобновляемые источники энергии и электрические системы и сети</a></li>
        <li><a href="#">Химические технологии и новые материалы</a></li>
        <li><a href="#">Радиоэкология и экологическая безопасность</a></li>
        <li><a href="#">Паротурбинные установки</a></li>
    </ul>
</div>
