{{> header/header}}

<div class="page">
    <div class="container">
        <div class="breadcrumb">
            <ul class="breadcrumb__list">
                <li>
                    <a href="index.html"><span>Главная</span></a>
                </li>
                <li>
                    <a href="index.html">Университет</a>
                </li>
                <li>Наблюдательный совет</li>
            </ul>
        </div>

        <div class="page__title">
            <h1>Страница ректора</h1>
        </div>
    </div>
</div>
